- content_for :title do
  = serve.shortname

.section-block.section-block-dark.section-block-hero-services.section-block-hero-services-business style="background-image: url('../images/services/services-hero-#{serve.slug}.jpg');"
  .section-wrap
    .container-fluid
      .row
        .col-12
          header.header-content.section-head
            .row
              .col-12.col-lg-6.order-2.order-lg-1
                h1.header-headline.section-head-headline 
                  = serve.name
                p.header-description.section-head-desc 
                  = serve.desc
.section-block.section-block-dark.section-block-services-places-featured
  .section-wrap
    .container-fluid
      .row
        .col-12
          header.header-content.text-center
            h2.header-headline.header-underline
              | Most Frequent Places
            = link_to "Book a Ride Today", "/booknow", :class => "cta cta-white"
      .row
        - serve.featured_places.each do |place|
          .col-12.col-sm-12.col-lg-4.col-xl-4.d-flex.align-items-stretch.align-items-end
            .card.card-content.card-content-services-places.card-content-dark.card-content-blue.d-flex.flex-row.align-items-end style="background-image: url('../images/services/services-places-#{serve.slug}-#{place.place_slug}.jpg');"
              header.header-content
                .row
                  .col-12.col-md-8.col-xl-12
                    h3.header-headline
                      = place.place
                    = link_to "#{place.place_cta}", "#{place.place_link}", :class => "cta cta-white"
.section-block.section-block-services-places-all
  .section-wrap
    .container-fluid
      .row
        .col-12          
          header.header-content.text-center
            h2.header-headline.header-underline
              | All Featured Places
            = link_to "Book a Ride Today", "/booknow", :class => "cta cta-blue"
          .row
            .col-12.col-lg-4
              ul.list.list-bordered.list-services-places
                - serve.all_places.places_a.each do |place|
                  li.list-li.list-li-services-places
                    = link_to "#{place.place}", "#{place.place_link}", :class => "list-text-services-name"
                    span.list-text.list-text-services-type
                      = place.place_type
            .col-12.col-lg-4
              ul.list.list-bordered.list-services-places
                - serve.all_places.places_b.each do |place|
                  li.list-li.list-li-services-places
                    = link_to "#{place.place}", "#{place.place_link}", :class => "list-text-services-name"
                    span.list-text.list-text-services-type
                      = place.place_type
            .col-12.col-lg-4
              ul.list.list-bordered.list-services-places
                - serve.all_places.places_c.each do |place|
                  li.list-li.list-li-services-places
                    = link_to "#{place.place}", "#{place.place_link}", :class => "list-text-services-name"
                    span.list-text.list-text-services-type
                      = place.place_type
= partial "partials/_cta-signup-services"