---
title: Apply for a Job
---
- content_for :title do
  = current_page.data.title
.section-header.section-header-contact
  .section-wrap
    .container-fluid
      .row
        .col-12.col-lg-10
          h1.header-headline
            | Apply
          p.content-large Its time to take the next step to success. Apply with Foundation Transportation below.
.section-block.section-block-contact
  .section-wrap
    form.site-form-careers.careers-form name="careers" method="POST" data-netlify="true" netlify-honeypot="bot-field"
      .container-fluid
        .row
          .col-12

            /** Job Info **/
            
            h4 Job Information
            .row
              .col-12.col-xl-6
                fieldset.form-fieldset.form-fieldset-hidden
                  input name="bot-field"
                fieldset.form-fieldset.form-fieldset-select
                  label.form-label Position Desired *
                  select.form-select.required name="job_position"
                    option selected="selected" value="" Please Select
                    option value="Contract Executive Chauffeur" Contract Executive Chauffeur
              .col-12.col-xl-6
                fieldset.form-fieldset.form-fieldset-select
                  label.form-label How You Heard About This Job
                  select.form-select name="job_referral"
                    option selected="selected" value="" Please Select
                    option value="Google" Google
                    option value="Word of Mouth" Word of Mouth

            /** Personal Info **/

            h4 Personal Information
            .row
              .col-12.col-xl-4
                fieldset.form-fieldset
                  label.form-label First Name *
                  input.form-input-text.required type="text" name="personal_name_first"
              .col-12.col-xl-5
                fieldset.form-fieldset
                  label.form-label Last Name *
                  input.form-input-text.required type="text" name="personal_name_last"
              .col-12.col-xl-3
                fieldset.form-fieldset
                  label.form-label Middle Initial
                  input.form-input-text type="text" name="personal_name_middle" maxlength="1"
            .row
              .col-12.col-xl-6
                fieldset.form-fieldset
                  label.form-label Driver's License Number *
                  input.form-input-text.required type="text" name="personal_license"
              .col-12.col-xl-6
                fieldset.form-fieldset.form-fieldset-select
                  label.form-label State Issued *
                  select.form-select.required name="personal_license_state"
                    option selected="selected" value="" Please Select
                    option value="AL"  Alabama
                    option value="AK"  Alaska
                    option value="AZ"  Arizona
                    option value="AR"  Arkansas
                    option value="CA"  California
                    option value="CO"  Colorado
                    option value="CT"  Connecticut
                    option value="DE"  Delaware
                    option value="DC"  District Of Columbia
                    option value="FL"  Florida
                    option value="GA"  Georgia
                    option value="HI"  Hawaii
                    option value="ID"  Idaho
                    option value="IL"  Illinois
                    option value="IN"  Indiana
                    option value="IA"  Iowa
                    option value="KS"  Kansas
                    option value="KY"  Kentucky
                    option value="LA"  Louisiana
                    option value="ME"  Maine
                    option value="MD"  Maryland
                    option value="MA"  Massachusetts
                    option value="MI"  Michigan
                    option value="MN"  Minnesota
                    option value="MS"  Mississippi
                    option value="MO"  Missouri
                    option value="MT"  Montana
                    option value="NE"  Nebraska
                    option value="NV"  Nevada
                    option value="NH"  New Hampshire
                    option value="NJ"  New Jersey
                    option value="NM"  New Mexico
                    option value="NY"  New York
                    option value="NC"  North Carolina
                    option value="ND"  North Dakota
                    option value="OH"  Ohio
                    option value="OK"  Oklahoma
                    option value="OR"  Oregon
                    option value="PA"  Pennsylvania
                    option value="RI"  Rhode Island
                    option value="SC"  South Carolina
                    option value="SD"  South Dakota
                    option value="TN"  Tennessee
                    option value="TX"  Texas
                    option value="UT"  Utah
                    option value="VT"  Vermont
                    option value="VA"  Virginia
                    option value="WA"  Washington
                    option value="WV"  West Virginia
                    option value="WI"  Wisconsin
                    option value="WY"  Wyoming
            .row
              .col-12.col-xl-6
                fieldset.form-fieldset.form-fieldset-select
                  label.form-label US Citizen *
                  select.form-select.required name="personal_usacitizen"
                    option selected="selected" value="" Please Select
                    option value="Yes" Yes
                    option value="No" No
              .col-12.col-xl-6
                fieldset.form-fieldset.form-fieldset-select
                  label.form-label If no, do you have legal right to work in US
                  select.form-select name="personal_usacitizen_righttowork"
                    option selected="selected" value="" Please Select
                    option value="Yes" Yes
                    option value="No" No
              .col-12.col-xl-6
                fieldset.form-fieldset.form-fieldset-select
                  label.form-label Have you served in the US Military? *
                  select.form-select.required name="personal_usamilitary"
                    option selected="selected" value="" Please Select
                    option value="Yes" Yes
                    option value="No" No

            /** Contact Info **/

            h4 Contact Information
            .row
              .col-12
                fieldset.form-fieldset
                  label.form-label Email Address *
                  input.form-input-text.required type="email" name="contact_email"
            .row
              .col-12.col-xl-4
                fieldset.form-fieldset
                  label.form-label Mobile Number
                  input.form-input-text type="text" name="contact_phone_mobile"
              .col-12.col-xl-4
                fieldset.form-fieldset
                  label.form-label Home Number
                  input.form-input-text type="text" name="contact_phone_home"
              .col-12.col-xl-4
                fieldset.form-fieldset
                  label.form-label Work Number
                  input.form-input-text type="text" name="contact_phone_work"
            .row
              .col-12.col-xl-9
                fieldset.form-fieldset
                  label.form-label Street Address *
                  input.form-input-text.required type="text" name="contact_address"
              .col-12.col-xl-3
                fieldset.form-fieldset
                  label.form-label Apt/Suite
                  input.form-input-text type="text" name="contact_address_apt"
            .row
              .col-12.col-xl-5
                fieldset.form-fieldset
                  label.form-label City *
                  input.form-input-text.required type="text" name="contact_city"
              .col-12.col-xl-4
                fieldset.form-fieldset.form-fieldset-select
                  label.form-label State *
                  select.form-select.required name="contact_state"
                    option selected="selected" value="" Please Select
                    option value="AL"  Alabama
                    option value="AK"  Alaska
                    option value="AZ"  Arizona
                    option value="AR"  Arkansas
                    option value="CA"  California
                    option value="CO"  Colorado
                    option value="CT"  Connecticut
                    option value="DE"  Delaware
                    option value="DC"  District Of Columbia
                    option value="FL"  Florida
                    option value="GA"  Georgia
                    option value="HI"  Hawaii
                    option value="ID"  Idaho
                    option value="IL"  Illinois
                    option value="IN"  Indiana
                    option value="IA"  Iowa
                    option value="KS"  Kansas
                    option value="KY"  Kentucky
                    option value="LA"  Louisiana
                    option value="ME"  Maine
                    option value="MD"  Maryland
                    option value="MA"  Massachusetts
                    option value="MI"  Michigan
                    option value="MN"  Minnesota
                    option value="MS"  Mississippi
                    option value="MO"  Missouri
                    option value="MT"  Montana
                    option value="NE"  Nebraska
                    option value="NV"  Nevada
                    option value="NH"  New Hampshire
                    option value="NJ"  New Jersey
                    option value="NM"  New Mexico
                    option value="NY"  New York
                    option value="NC"  North Carolina
                    option value="ND"  North Dakota
                    option value="OH"  Ohio
                    option value="OK"  Oklahoma
                    option value="OR"  Oregon
                    option value="PA"  Pennsylvania
                    option value="RI"  Rhode Island
                    option value="SC"  South Carolina
                    option value="SD"  South Dakota
                    option value="TN"  Tennessee
                    option value="TX"  Texas
                    option value="UT"  Utah
                    option value="VT"  Vermont
                    option value="VA"  Virginia
                    option value="WA"  Washington
                    option value="WV"  West Virginia
                    option value="WI"  Wisconsin
                    option value="WY"  Wyoming
              .col-12.col-xl-3
                fieldset.form-fieldset
                  label.form-label Zipcode *
                  input.form-input-text.required type="text" name="contact_zip" maxlength="5"
            
            /** Education Info **/

            h4 Education Information
            .row.careers-form-entity.toggle-parent
              .col-12
                .row.careers-form-entity-title
                  .col-6
                    h5 School #1
                  .col-6
                    .toggle-trigger Hide
                .careers-form-entity.toggle-subject
                  .row
                    .col-12
                      fieldset.form-fieldset
                        label.form-label School Name *
                        input.form-input-text.required type="text" name="edu1_school_name"
                  .row
                    .col-12.col-xl-9
                      fieldset.form-fieldset
                        label.form-label Street Address *
                        input.form-input-text.required type="text" name="edu1_school_address"
                    .col-12.col-xl-3
                      fieldset.form-fieldset
                        label.form-label Suite
                        input.form-input-text type="text" name="edu1_school_address_suite"
                  .row
                    .col-12.col-xl-5
                      fieldset.form-fieldset
                        label.form-label City *
                        input.form-input-text.required type="text" name="edu1_school_city"
                    .col-12.col-xl-4
                      fieldset.form-fieldset.form-fieldset-select
                        label.form-label State *
                        select.form-select.required name="edu1_school_state"
                          option selected="selected" value="" Please Select
                          option value="AL"  Alabama
                          option value="AK"  Alaska
                          option value="AZ"  Arizona
                          option value="AR"  Arkansas
                          option value="CA"  California
                          option value="CO"  Colorado
                          option value="CT"  Connecticut
                          option value="DE"  Delaware
                          option value="DC"  District Of Columbia
                          option value="FL"  Florida
                          option value="GA"  Georgia
                          option value="HI"  Hawaii
                          option value="ID"  Idaho
                          option value="IL"  Illinois
                          option value="IN"  Indiana
                          option value="IA"  Iowa
                          option value="KS"  Kansas
                          option value="KY"  Kentucky
                          option value="LA"  Louisiana
                          option value="ME"  Maine
                          option value="MD"  Maryland
                          option value="MA"  Massachusetts
                          option value="MI"  Michigan
                          option value="MN"  Minnesota
                          option value="MS"  Mississippi
                          option value="MO"  Missouri
                          option value="MT"  Montana
                          option value="NE"  Nebraska
                          option value="NV"  Nevada
                          option value="NH"  New Hampshire
                          option value="NJ"  New Jersey
                          option value="NM"  New Mexico
                          option value="NY"  New York
                          option value="NC"  North Carolina
                          option value="ND"  North Dakota
                          option value="OH"  Ohio
                          option value="OK"  Oklahoma
                          option value="OR"  Oregon
                          option value="PA"  Pennsylvania
                          option value="RI"  Rhode Island
                          option value="SC"  South Carolina
                          option value="SD"  South Dakota
                          option value="TN"  Tennessee
                          option value="TX"  Texas
                          option value="UT"  Utah
                          option value="VT"  Vermont
                          option value="VA"  Virginia
                          option value="WA"  Washington
                          option value="WV"  West Virginia
                          option value="WI"  Wisconsin
                          option value="WY"  Wyoming
                    .col-12.col-xl-3
                      fieldset.form-fieldset
                        label.form-label Zipcode *
                        input.form-input-text.required type="text" name="edu1_school_zip" maxlength="5"
                  .row
                    .col-12.col-xl-6
                      fieldset.form-fieldset
                        label.form-label Dates Attended *
                        input.form-input-text.required type="text" name="edu1_dateattended"
                    .col-12.col-xl-6
                      fieldset.form-fieldset
                        label.form-label Degree/GPA *
                        input.form-input-text.required type="text" name="edu1_degree"
            
            .row.careers-form-entity.toggle-parent
              .col-12
                .row.careers-form-entity-title
                  .col-6
                    h5 School #2
                  .col-6
                    .toggle-trigger Show
                #school_2.careers-form-entity.toggle-subject.hidden
                  .row
                    .col-12
                      fieldset.form-fieldset
                        label.form-label School Name
                        input.form-input-text type="text" name="edu2_school_name"
                  .row
                    .col-12.col-xl-9
                      fieldset.form-fieldset
                        label.form-label Street Address
                        input.form-input-text type="text" name="edu2_school_address"
                    .col-12.col-xl-3
                      fieldset.form-fieldset
                        label.form-label Suite
                        input.form-input-text type="text" name="edu2_school_suite"
                  .row
                    .col-12.col-xl-5
                      fieldset.form-fieldset
                        label.form-label City
                        input.form-input-text type="text" name="edu2_school_city"
                    .col-12.col-xl-4
                      fieldset.form-fieldset.form-fieldset-select
                        label.form-label State
                        select.form-select name="edu2_school_state"
                          option selected="selected" value="" Please Select
                          option value="AL"  Alabama
                          option value="AK"  Alaska
                          option value="AZ"  Arizona
                          option value="AR"  Arkansas
                          option value="CA"  California
                          option value="CO"  Colorado
                          option value="CT"  Connecticut
                          option value="DE"  Delaware
                          option value="DC"  District Of Columbia
                          option value="FL"  Florida
                          option value="GA"  Georgia
                          option value="HI"  Hawaii
                          option value="ID"  Idaho
                          option value="IL"  Illinois
                          option value="IN"  Indiana
                          option value="IA"  Iowa
                          option value="KS"  Kansas
                          option value="KY"  Kentucky
                          option value="LA"  Louisiana
                          option value="ME"  Maine
                          option value="MD"  Maryland
                          option value="MA"  Massachusetts
                          option value="MI"  Michigan
                          option value="MN"  Minnesota
                          option value="MS"  Mississippi
                          option value="MO"  Missouri
                          option value="MT"  Montana
                          option value="NE"  Nebraska
                          option value="NV"  Nevada
                          option value="NH"  New Hampshire
                          option value="NJ"  New Jersey
                          option value="NM"  New Mexico
                          option value="NY"  New York
                          option value="NC"  North Carolina
                          option value="ND"  North Dakota
                          option value="OH"  Ohio
                          option value="OK"  Oklahoma
                          option value="OR"  Oregon
                          option value="PA"  Pennsylvania
                          option value="RI"  Rhode Island
                          option value="SC"  South Carolina
                          option value="SD"  South Dakota
                          option value="TN"  Tennessee
                          option value="TX"  Texas
                          option value="UT"  Utah
                          option value="VT"  Vermont
                          option value="VA"  Virginia
                          option value="WA"  Washington
                          option value="WV"  West Virginia
                          option value="WI"  Wisconsin
                          option value="WY"  Wyoming
                    .col-12.col-xl-3
                      fieldset.form-fieldset
                        label.form-label Zipcode
                        input.form-input-text type="text" name="edu2_school_zipcode" maxlength="5"
                  .row
                    .col-12.col-xl-6
                      fieldset.form-fieldset
                        label.form-label Dates Attended
                        input.form-input-text type="text" name="edu2_datesattended"
                    .col-12.col-xl-6
                      fieldset.form-fieldset
                        label.form-label Degree/GPA
                        input.form-input-text type="text" name="edu2_degree"

            
            /** Education Info **/

            h4 Employment History
            .row.careers-form-entity.toggle-parent
              .col-12
                .row.careers-form-entity-title
                  .col-6
                    h5 Job #1
                  .col-6
                    .toggle-trigger Hide
                .careers-form-entity.toggle-subject
                  .row
                    .col-12.col-xl-6
                      fieldset.form-fieldset
                        label.form-label Company *
                        input.form-input-text.required type="text" name="emp1_job_name"
                    .col-12.col-xl-6
                      fieldset.form-fieldset
                        label.form-label Job Title *
                        input.form-input-text.required type="text" name="emp1_job_title"
                  .row
                    .col-12.col-xl-9
                      fieldset.form-fieldset
                        label.form-label Street Address *
                        input.form-input-text.required type="text" name="emp1_job_address"
                    .col-12.col-xl-3
                      fieldset.form-fieldset
                        label.form-label Suite
                        input.form-input-text type="text" name="emp1_job_suite"
                  .row
                    .col-12.col-xl-5
                      fieldset.form-fieldset
                        label.form-label City *
                        input.form-input-text.required type="text" name="emp1_job_city"
                    .col-12.col-xl-4
                      fieldset.form-fieldset.form-fieldset-select
                        label.form-label State *
                        select.form-select.required name="emp1_job_state"
                          option selected="selected" value="" Please Select
                          option value="AL"  Alabama
                          option value="AK"  Alaska
                          option value="AZ"  Arizona
                          option value="AR"  Arkansas
                          option value="CA"  California
                          option value="CO"  Colorado
                          option value="CT"  Connecticut
                          option value="DE"  Delaware
                          option value="DC"  District Of Columbia
                          option value="FL"  Florida
                          option value="GA"  Georgia
                          option value="HI"  Hawaii
                          option value="ID"  Idaho
                          option value="IL"  Illinois
                          option value="IN"  Indiana
                          option value="IA"  Iowa
                          option value="KS"  Kansas
                          option value="KY"  Kentucky
                          option value="LA"  Louisiana
                          option value="ME"  Maine
                          option value="MD"  Maryland
                          option value="MA"  Massachusetts
                          option value="MI"  Michigan
                          option value="MN"  Minnesota
                          option value="MS"  Mississippi
                          option value="MO"  Missouri
                          option value="MT"  Montana
                          option value="NE"  Nebraska
                          option value="NV"  Nevada
                          option value="NH"  New Hampshire
                          option value="NJ"  New Jersey
                          option value="NM"  New Mexico
                          option value="NY"  New York
                          option value="NC"  North Carolina
                          option value="ND"  North Dakota
                          option value="OH"  Ohio
                          option value="OK"  Oklahoma
                          option value="OR"  Oregon
                          option value="PA"  Pennsylvania
                          option value="RI"  Rhode Island
                          option value="SC"  South Carolina
                          option value="SD"  South Dakota
                          option value="TN"  Tennessee
                          option value="TX"  Texas
                          option value="UT"  Utah
                          option value="VT"  Vermont
                          option value="VA"  Virginia
                          option value="WA"  Washington
                          option value="WV"  West Virginia
                          option value="WI"  Wisconsin
                          option value="WY"  Wyoming
                    .col-12.col-xl-3
                      fieldset.form-fieldset
                        label.form-label Zipcode *
                        input.form-input-text.required type="text" name="emp1_job_zipcode" maxlength="5"
                  .row
                    .col-12.col-xl-6
                      fieldset.form-fieldset
                        label.form-label Dates Employed *
                        input.form-input-text.required type="text" name="emp1_job_dateemployed"
                    .col-12.col-xl-6
                      fieldset.form-fieldset
                        label.form-label Salary *
                        input.form-input-text.required type="text" name="emp1_job_salary"
            .row.careers-form-entity.toggle-parent
              .col-12
                .row.careers-form-entity-title
                  .col-6
                    h5 Job #2
                  .col-6
                    .toggle-trigger Show
                .careers-form-entity.toggle-subject.hidden
                  .row
                    .col-12.col-xl-6
                      fieldset.form-fieldset
                        label.form-label Company
                        input.form-input-text type="text" name="emp2_job_name"
                    .col-12.col-xl-6
                      fieldset.form-fieldset
                        label.form-label Job Title
                        input.form-input-text type="text" name="emp2_job_title"
                  .row
                    .col-12.col-xl-9
                      fieldset.form-fieldset
                        label.form-label Street Address
                        input.form-input-text type="text" name="emp2_job_address"
                    .col-12.col-xl-3
                      fieldset.form-fieldset
                        label.form-label Suite
                        input.form-input-text type="text" name="emp2_job_suite"
                  .row
                    .col-12.col-xl-5
                      fieldset.form-fieldset
                        label.form-label City
                        input.form-input-text type="text" name="emp2_job_city"
                    .col-12.col-xl-4
                      fieldset.form-fieldset.form-fieldset-select
                        label.form-label State
                        select.form-select name="emp2_job_state"
                          option selected="selected" value="" Please Select
                          option value="AL"  Alabama
                          option value="AK"  Alaska
                          option value="AZ"  Arizona
                          option value="AR"  Arkansas
                          option value="CA"  California
                          option value="CO"  Colorado
                          option value="CT"  Connecticut
                          option value="DE"  Delaware
                          option value="DC"  District Of Columbia
                          option value="FL"  Florida
                          option value="GA"  Georgia
                          option value="HI"  Hawaii
                          option value="ID"  Idaho
                          option value="IL"  Illinois
                          option value="IN"  Indiana
                          option value="IA"  Iowa
                          option value="KS"  Kansas
                          option value="KY"  Kentucky
                          option value="LA"  Louisiana
                          option value="ME"  Maine
                          option value="MD"  Maryland
                          option value="MA"  Massachusetts
                          option value="MI"  Michigan
                          option value="MN"  Minnesota
                          option value="MS"  Mississippi
                          option value="MO"  Missouri
                          option value="MT"  Montana
                          option value="NE"  Nebraska
                          option value="NV"  Nevada
                          option value="NH"  New Hampshire
                          option value="NJ"  New Jersey
                          option value="NM"  New Mexico
                          option value="NY"  New York
                          option value="NC"  North Carolina
                          option value="ND"  North Dakota
                          option value="OH"  Ohio
                          option value="OK"  Oklahoma
                          option value="OR"  Oregon
                          option value="PA"  Pennsylvania
                          option value="RI"  Rhode Island
                          option value="SC"  South Carolina
                          option value="SD"  South Dakota
                          option value="TN"  Tennessee
                          option value="TX"  Texas
                          option value="UT"  Utah
                          option value="VT"  Vermont
                          option value="VA"  Virginia
                          option value="WA"  Washington
                          option value="WV"  West Virginia
                          option value="WI"  Wisconsin
                          option value="WY"  Wyoming
                    .col-12.col-xl-3
                      fieldset.form-fieldset
                        label.form-label Zipcode
                        input.form-input-text type="text" name="emp2_job_zipcode" maxlength="5"
                  .row
                    .col-12.col-xl-6
                      fieldset.form-fieldset
                        label.form-label Dates Employed
                        input.form-input-text type="text" name="emp2_job_dateemployed"
                    .col-12.col-xl-6
                      fieldset.form-fieldset
                        label.form-label Salary
                        input.form-input-text type="text" name="emp2_job_salary"
            .row.careers-form-entity.toggle-parent
              .col-12
                .row.careers-form-entity-title
                  .col-6
                    h5 Job #3
                  .col-6
                    .toggle-trigger Show
                .careers-form-entity.toggle-subject.hidden
                  .row
                    .col-12.col-xl-6
                      fieldset.form-fieldset
                        label.form-label Company
                        input.form-input-text type="text" name="emp3_job_name"
                    .col-12.col-xl-6
                      fieldset.form-fieldset
                        label.form-label Job Title
                        input.form-input-text type="text" name="emp3_job_title"
                  .row
                    .col-12.col-xl-9
                      fieldset.form-fieldset
                        label.form-label Street Address
                        input.form-input-text type="text" name="emp3_job_address"
                    .col-12.col-xl-3
                      fieldset.form-fieldset
                        label.form-label Suite
                        input.form-input-text type="text" name="emp3_job_suite"
                  .row
                    .col-12.col-xl-5
                      fieldset.form-fieldset
                        label.form-label City
                        input.form-input-text type="text" name="emp3_job_city"
                    .col-12.col-xl-4
                      fieldset.form-fieldset.form-fieldset-select
                        label.form-label State
                        select.form-select name="emp3_job_state"
                          option selected="selected" value="" Please Select
                          option value="AL"  Alabama
                          option value="AK"  Alaska
                          option value="AZ"  Arizona
                          option value="AR"  Arkansas
                          option value="CA"  California
                          option value="CO"  Colorado
                          option value="CT"  Connecticut
                          option value="DE"  Delaware
                          option value="DC"  District Of Columbia
                          option value="FL"  Florida
                          option value="GA"  Georgia
                          option value="HI"  Hawaii
                          option value="ID"  Idaho
                          option value="IL"  Illinois
                          option value="IN"  Indiana
                          option value="IA"  Iowa
                          option value="KS"  Kansas
                          option value="KY"  Kentucky
                          option value="LA"  Louisiana
                          option value="ME"  Maine
                          option value="MD"  Maryland
                          option value="MA"  Massachusetts
                          option value="MI"  Michigan
                          option value="MN"  Minnesota
                          option value="MS"  Mississippi
                          option value="MO"  Missouri
                          option value="MT"  Montana
                          option value="NE"  Nebraska
                          option value="NV"  Nevada
                          option value="NH"  New Hampshire
                          option value="NJ"  New Jersey
                          option value="NM"  New Mexico
                          option value="NY"  New York
                          option value="NC"  North Carolina
                          option value="ND"  North Dakota
                          option value="OH"  Ohio
                          option value="OK"  Oklahoma
                          option value="OR"  Oregon
                          option value="PA"  Pennsylvania
                          option value="RI"  Rhode Island
                          option value="SC"  South Carolina
                          option value="SD"  South Dakota
                          option value="TN"  Tennessee
                          option value="TX"  Texas
                          option value="UT"  Utah
                          option value="VT"  Vermont
                          option value="VA"  Virginia
                          option value="WA"  Washington
                          option value="WV"  West Virginia
                          option value="WI"  Wisconsin
                          option value="WY"  Wyoming
                    .col-12.col-xl-3
                      fieldset.form-fieldset
                        label.form-label Zipcode
                        input.form-input-text type="text" name="emp3_job_zipcode" maxlength="5"
                  .row
                    .col-12.col-xl-6
                      fieldset.form-fieldset
                        label.form-label Dates Employed
                        input.form-input-text type="text" name="emp3_job_dateemployed"
                    .col-12.col-xl-6
                      fieldset.form-fieldset
                        label.form-label Salary
                        input.form-input-text type="text" name="emp3_job_salary"

            /** Refereces **/
            
            h4 References
            p.content-small List at least 2 Professional References and 1 Personal Reference
            .row
              .col-12.col-xl-8
                fieldset.form-fieldset
                  label.form-label List your references here *
                  textarea.form-textarea.required name="references"

            h4
              | I certify that the information contained in this application is correct to the best of my knowledge and any misrepresentation is grounds for dismissal.

            p
              | This application authorizes Foundation Transportation to contact references, past and current employers, to conduct background checks, fingerprinting, obtain motor vehicle reports, driver's alcohol and controlled substances history; and safety performance history to be used only for purposes of for hiring decisions. I understand that there will be a probationary period of 90 days at the beginning of my employment and that I will have to complete a confidentiality agreement with respect to this position.

            .row
              .col-12.col-xl-4
                fieldset.form-fieldset
                  label.form-label Type your Full Name *
                  input#signature_name.form-input-text.required type="text" name="signature_name"
              .col-12.col-xl-4
                fieldset.form-fieldset
                  label.form-label Confirm Your Full Name *
                  input#signature_name_confirmed.form-input-text.required type="text" name="signature_name_confirmed"
              .col-12.col-xl-4
                fieldset.form-fieldset
                  label.form-label Date Signed *
                  input.form-input-text.required type="text" name="signature_date"
            .row
              .col-12
                fieldset.form-fieldset-submit
                  input.form-input-submit.btn.btn-primary.width-100 type="submit" name="submit" value="Submit"
            

