---
title: Careers
---
- content_for :title do
  = current_page.data.title
.section-header.section-header-contact
  .section-wrap
    .container-fluid
      .row
        .col-12.col-lg-10
          h1.header-headline
            = current_page.data.title
          p.content-large Join our exciting and growing team with the goal of bringing great service to our clients. 
.section-block.section-block-contact
  .section-wrap
    .container-fluid
      .row
        .col-12
          .card.card-careers-job
            .card-careers-job-main
              h4.card-careers-job--title
                | Contract Executive Chauffeur
              p.card-careers-job--desc
                | Foundation Transportation seeks to add to our growing team of customer service oriented chauffeurs. We are looking for individuals with excellent "people" skills. Candidates with previous hospitality or driving experience a plus!
              ul.card-careers-action
                li.card-careers-action--ele
                  = link_to "View Job Details", "/careers/job-contract-executive-chauffeur", :class => "cta cta-blue card-careers-action--link"
                li.card-careers-action--ele
                  = link_to "Apply Now", "/careers/apply", :class => "cta cta-blue card-careers-action--link"
            .card-careers-job-aside
              .card-careers-job-feature
                label.card-careers-job-feature--label
                  | Job Type 
                p.card-careers-job-feature--value
                  | Part Time
              .card-careers-job-feature
                label.card-careers-job-feature--label
                  | Pay Rate
                p.card-careers-job-feature--value
                  | $10-$15/hour
              .card-careers-job-feature
                label.card-careers-job-feature--label
                  | Location
                p.card-careers-job-feature--value
                  | Cleveland, OH