---
title: Careers - Contract Executive Chauffeur
---
- content_for :title do
  = current_page.data.title
.section-header.section-header-contact
  .section-wrap
    .container-fluid
      .row
        .col-12.col-lg-10
          h1.header-headline
            | Careers
          p.content-large Contract Executive Chauffeur
.section-block.section-block-contact
  .section-wrap
    .container-fluid
      .row.d-flex
        .col-12.col-lg-4.order-1.order-lg-0
          .card.card-aside
            header.card-aside-header
              h5 Job Details
            main.card-aside-main
              .card-careers-job-feature
                label.card-careers-job-feature--label
                  | Job Type 
                p.card-careers-job-feature--value
                  | Part Time
              .card-careers-job-feature
                label.card-careers-job-feature--label
                  | Location
                p.card-careers-job-feature--value
                  | Cleveland, OH
              .card-careers-job-feature
                label.card-careers-job-feature--label
                  | Required Education
                p.card-careers-job-feature--value
                  | High school or equivalent
              .card-careers-job-feature
                label.card-careers-job-feature--label
                  | Pay Rate
                p.card-careers-job-feature--value
                  | $10-$15/hour
              .card-careers-job-feature
                label.card-careers-job-feature--label
                  | Certification
                p.card-careers-job-feature--value
                  | CDL Class C or B
              .card-careers-job-feature
                label.card-careers-job-feature--label
                  | Required Driving:
                p.card-careers-job-feature--value
                  | Driving: 3 years, Chauffeur: 3 years, Executive Transportation: 3 years
              .card-careers-job-feature
                label.card-careers-job-feature--label
                  | License:
                p.card-careers-job-feature--value
                  | Valid Driver’s License*
            footer.card-aside-footer
              = link_to "Apply Now", "/careers/apply", :class => "btn btn-primary"
        .col-12.col-lg-7.offset-lg-1.order-0.order-lg-1
          h2 Job Description
          p
            | Foundation Transportation seeks to add to our growing team of customer service oriented chauffeurs. We are looking for individuals with excellent "people" skills. Candidates with previous hospitality or driving experience a plus!
          p.content-small
            | Drivers are typically the first and often the only people who meet our clients. Consequently our chauffeurs' appearance and the manner in which they conduct themselves is critical. Executive Chauffeurs aim to please and to make certain clients have a memorable experience, whether being transported to or from an airport, business meetings or attending an important event.
          h4 Primary responsibilities
          ul.list-paragraphs.list-nopadding
            li Drive high profile passengers from one place to another in a luxury vehicle.
            li Determine directions to traveling locations.
            li Use knowledge of local streets and traffic patterns to avoid heavy traffic.
            li Keep exterior and interior of vehicle clean
            li Carry packages and luggage.
            li Help passengers get in and out of car.
          
          h4 Candidates Must
          ul.list-paragraphs.list-nopadding
            li Have U.S. citizenship, or eligibility to live and work in the U.S.
            li Fluent in the English language
            li High School education or higher
            li Possess basic math and grammar skills
            li Be 25 years of age or above
            li Have a Clean Driving Record
            li Able to Pass Drug Screen and Background Check
            li Able to safely drive luxury sedans, SUV's, limousines, and 15 passenger vans
            li Able to safely handle up to 75lbs of luggage
            li Possess vast knowledge of the Cleveland, OH and its freeway system.
            li Tech savvy (utilizing apps, navigation systems, logging in and out of a computer is mandatory)
            li Drive and work in a suit and tie under various environmental conditions
            li Desire to maintain a company vehicle in an impeccable condition
            li Prior chauffeur experience is preferable but not necessary

          h4 Professionalism
          ul.list-paragraphs.list-nopadding
            li Chauffeurs are expected to be mannerly and courteous in all driving and non-driving situations.
            li Good grooming and personal hygiene with clean and proper dress as instructed by the employer are expected.
            li Calm, rational behavior and attitude under stressful driving conditions are attributes of a professional, as are refraining from inappropriate or abusive language and gestures.
            li Personal chauffeurs follow instructions and requests without argument or complaint, and do not comment, engage or join in conversations of passengers without permission.
            li Use of alcohol, illegal drugs or prescription medication that inhibit cognitive or mechanical ability -- either on the job, while on call or before a scheduled shift -- is illegal.
            li A sober, fully functional chauffeur is expected by the employer at all times.

          h4 As a Contract Driver You Will
          ul.list-paragraphs.list-nopadding
            li Prepare route for trip prior to departure. In addition, review trip tickets prior to departure for pertinent information on all trips assigned for the shift.
            li Be knowledgeable of traffic patterns that might impact trip times and makes adjustments accordingly.
            li Arrive to transport passengers at the pre-determined arrival time set by dispatch.
            li Operate all vehicles within all state and federal laws as well as all company policies: comply with all speed limits and road signs, wear a seat belt at all times while vehicle is in motion. not talk on cell phone at any time while operating a vehicle.
            li Communicate with dispatchers throughout their shift regarding their status accurately and in a timely manner. 
            li Accurately complete all required paperwork at the end of each shift including but not limited to Trip Tickets and Vehicle Condition Reports. Accurately complete Hours of Service paperwork at the end of each work week.
          .card
            .row
              .col-12
                p
                  | Feeling Qualified? <br />
                  | Complete the application.
              .col-12
                = link_to "Apply Now", "/careers/apply", :class => "btn btn-primary width-100"