// Animations

  [data-aos="slick"] {
    opacity: 0;
    transition-property: transform, opacity;
    transform: translateY(100px);
    &.aos-animate {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes inOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }