.section-header-blog {
  // overflow: hidden;
  padding: 0;
  @media only screen and (min-width: $mq-tablet) {
    background-size: contain;
    background-position: right top;
    // height: 90vh;
  }
  @media only screen and (min-width: $mq-laptop) {
    // height: 90vh;
  }
}

.section-header-blog-text {
  height: 100%;
  @include flexbox;
  align-items: center;
  justify-content: center;
  padding: $space-large $space-medium $space-medium;
  @media only screen and (min-width: $mq-tablet) {
    padding: $space-medium $space-medium;
  }
  @media only screen and (min-width: $mq-laptop) {
    padding: $space-medium $space-large $space-medium;
  }
  @media only screen and (min-width: $mq-desktop) {
    padding: $space-large $space-xl $space-large;
  }
}
.section-header-blog-image {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  @include flexbox;
  align-items: center;
  justify-content: center;
  @media only screen and (min-width: $mq-tablet) {
    height: 100%;
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    @media only screen and (min-width: $mq-tablet) {
      height: 100%;
      width: auto;
    }
    @media only screen and (min-width: $mq-desktop) {
      height: auto;
      width: 100%;
    }
  }
}

.section-block-blog {
  h1, h2, h3, h4, p {
    margin: 0 0 $space-small;
  }
  p + h4, ul, ol, img  {
    margin: 0 0 $space-medium;
  }
  .row {
    margin-bottom: $space-large;
  }
  img {
    width: 100%;
  }
}

.blog-cta {
  border: 1px solid $color-black-200;
  border-left: 0;
  border-right: 0;
  margin: $space-medium 0;
  padding: $space-small 0;
  @media only screen and (min-width: $mq-tablet) {
    padding: $space-medium 0;
  }
  .row {
    margin-bottom: 0;
  }
  .nav-social {
    margin: 0;
    .fab {
      color: $color-blue;
    }
    .fa-facebook {
      color: #4267B2;
    }
    .fa-twitter {
      color: #1DA1F2;
    }
    .fa-linkedin {
      color: #2867B2;
    }
    .fa-instagram {
      color: #C13584;
    }
  }
  .blog-cta-header {
    @include flexbox;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .blog-cta-nav {
    justify-content: center;
    margin: $space-x 0 0 0;
    @media only screen and (min-width: $mq-tablet) {
      justify-content: flex-start;
      margin: 0;
    }
    .nav-link:last-child {
      padding-right: 0;
    }
  }
}