// Careers
  .card-aside-main {
    .card-careers-job-feature {
      margin: 0 0 $space-small;
      width: 100%;
      &:last-child {
        margin: 0;
      }
    }
  }
  .careers-form {
    .row + h3, .row + h4 {
      margin-top: $space-medium;
      margin-bottom: $space-small;
    }
  }
  .careers-form-entity {
    margin-bottom: $space-medium;
  }
  .careers-form-entity-title {
    border-bottom: 1px solid $color-black-200;
    margin-bottom: $space-small;
    margin-top: $space-small;
  }