// Utilities
  .margin-bottom-0 {
    margin-bottom: 0;
  }
  .width-100 {
    width: 100%;
  }
  .toggle-trigger {
    float: right;
    @extend .t-16;
    color: $color-blue;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      color: $color-blue-200;
    }
  }
  .toggle-subject {
    &.hidden {
      display: none;
    }
  }
  .center-vertical {
    @include flexbox;
    @include flex-wrap(wrap);
    align-items: center;
    height: 100%;
  }
  

// Nav
  .nav-small {
    min-height: 20px;
    position: relative;
  }
  .nav-close {
    cursor: pointer;
    @extend .t-48;
    color: $color-white;
    line-height: 0.5;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    display: none;
  }
  .nav-bar {
    height: 2px;
    position: relative;
    width: 100%;
    top: auto;
    bottom: auto;
    &:after {
      background: $color-black-0;
      content:"";
      height: 100%;
      position: absolute;
      right: 0;
      width: 100%;
      @include transition;
    }
    &.nav-bar-1 {
      &:after {
        content:"";
        width: 40px;
      }
    }
    &.nav-bar-2 {
      margin: 4px 0;
      &:after {
        content:"";
        width: 30px;
        @include transition($delay:25ms);
      }
    }
    &.nav-bar-3 {
      &:after {
        content:"";
        width: 20px;
        @include transition($delay:50ms);
      }
    }
  }
  .nav-trigger {
    @include flexbox;
    @include flex-wrap(wrap);
    cursor: pointer;
    height: 14px;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    text-align: right;
    margin-top: 6px;
  }
  .menu-trans {
    .nav-bar {
      &:after {
        width: 0px;
      }
    }
    .nav-bar-1 {
      &:after {
        @include transition();
      }
    }
    .nav-bar-2 {
      visibility: visible;
      &:after {
        @include transition($delay:25ms);
      }
    }
    .nav-bar-3 {
      &:after {
        @include transition($delay:50ms);
      }
    }
  }
  .menu-trans-out {
    .nav-bar {
      position: absolute;
      width: 14px;
      &:after {
        width: 0px;
      }
    }
    .nav-bar-1 {
      @include rotate(45);
      bottom: 0;
      &:after {
        @include transition();
      }
    }
    .nav-bar-2 {
      visibility: hidden;
      &:after {
        @include transition($delay:25ms);
      }
    }
    .nav-bar-3 {
      @include rotate(-45);
      top: 0;
      &:after {
        @include transition($delay:50ms);
      }
    }
  }
  .menu-active {

    .nav-trigger {

    }
    .nav-bar {
      position: absolute;
      width: 14px;
    }
    .nav-bar-1 {
      @include rotate(45);
      bottom: 0;
      &:after {
        width: 30px;
        @include transition();
      }
    }
    .nav-bar-2 {
      visibility: hidden;
      &:after {
        width: 0px;
      }
    }
    .nav-bar-3 {
      @include rotate(-45);
      top: 0;
      &:after {
        width: 30px;
        @include transition($delay:25ms);
      }
    }
  }
  .nav-trigger-icon {
    cursor: pointer;
  }
  .nav-social {
    margin: 0 0 $space-small 0;
    width: 100%;
    .nav-link {
      color: $color-blue-0;
      @extend .t-24;
      padding: 0 $space-medium 0 0;
      text-align: left;
      &:last-child {
        padding-right: 0;
      }
    }
  }
  .nav-social-dark {
    .nav-link {
      color: $color-blue-400;
      &:hover {
        color: $color-blue-300;
      }
    }
  }
  .nav-mobile {
    background: $color-blue-400;
    height: 100%;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: $space-medium;
    padding-right: 0;
    position: fixed;
    top: 142px;
    width: 100%;
    z-index: 1000;
    @include translate(1000px,0);
    @include transition($time:800ms, $delay:400ms);
    @media only screen and (min-width: $mq-laptop) {
      display: none;
    }
    .nav-link {
      @extend .t-24;
      padding: $space-x 0;
      width: 100%;
    }
    .nav-menu-mobile {
      border-bottom: 1px solid $color-blue-300;
      margin-bottom: $space-x;
      padding-bottom: $space-x;
      opacity: 0;
      @include transition($time:800ms, $delay: 800ms);
    }
    .nav-menu-mobile-primary {
      .nav-link {
        @extend .t-48;
      }
    }
    .nav-menu-mobile-secondary {
      .nav-link {
        @extend .t-28;
        width: 50%;
      }
    }
    .nav-menu-mobile-tertiary {
      .nav-link {
        width: 50%;
      }
    }
    .nav-menu-mobile-social {
      border-bottom: 0;
      .nav-link {
        @extend .t-28;
        width: 25%;
      }
    }
  }
  .menu-active {
    overflow: hidden;
    // .nav-trigger {
    //   display: none;
    // }
    // .nav-close {
    //   display: block;
    // }
    .nav-mobile {
      @include translate(0,0);
      @include transition($time:800ms, $delay:400ms);
    }
    .nav-menu-mobile {
      opacity: 1;
    }
  }
  
// Blocks
  .section-block {
    padding: $space-large 0;
    position: relative;
  }
  .section-block-dark {
    h1, h2, h3, h4, h5, h6 {
      color: $color-black-0;
    }
    p {
      color: $color-blue-0;
    }
    .header-underline:after {
      background: rgba(255,255,255,0.1);
    }
  }
  .section-block-quote {
    padding-top: 0;
    position: relative;
    .text-quote {
      @extend .t-36;
      margin: 0 0 $space-small;
      &:before {
        content: "\201C";
        left: -$space-small;
        line-height: 1;
        position: absolute;
        top: 0;
        @extend .t-64;
        @media only screen and (min-width: $mq-tablet) {
          left: -$space-medium;
        }
      }
    }
    .text-quote-author {
      @extend .t-24;
      font-weight: 700;
    }
  }
  .section-block-logos {
    background: $color-white;
    padding: $space-small 0;
  }
  .section-block-sidebar {
    margin: 0 0 $space-small;
  }
  .section-block-smallprint {
    p {
      @extend .t-16;
    }
  }
// Headers
  .section-header {
    background: $color-white;
    padding: $space-large 0 $space-medium;
    width: 100%;
  }

// Buttons
  .btn {
    @include font-size(18);
    @include transition;
    @include flexbox;
    width: auto;
    align-items: center;
    border: 0;
    border-radius: 0;
    height: 60px;
    justify-content: center;
    line-height: 0;
    padding: 0 $space-small;
    text-align: center;
  }
  .btn-primary {
    background: $color-blue-300;
    color: $color-blue-0;
    &:hover {
      background: $color-blue-200;
    }
  }
  .btn-secondary {
    background: $color-black-300;
    color: $color-black-0;
    &:hover {
      background: darken($color-black-300,5%);
    }
  }
  .btn-tertiary {
    background: $color-black-0;
    color: $color-blue-400;
    &:hover {
      background: $color-black-100;
      color: $color-black-500;
    }
  }
  .btn-small {
    height: 40px;
  }
  .btn-nav {
    margin: 0 $space-x;
  }
  .btn-nav-end {
    margin-right: 0;
  }
  .btn-full {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

// Lists
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .list-nopadding {
    padding: 0;
  }
  .list-nomargin {
    margin: 0;
  }
  .list-bullets {
    list-style-type: disc;
  }
  .list-paragraphs {
    li {
      @extend .t-14;
    }
  }
  .list-text {
    display: block;
    margin: 0;
    width: 100%;
  }
  .list-li {
    margin: 0;
    padding: $space-small 0;
  }
  .list-bordered {
    .list-li {
      border-bottom: 1px solid $color-black-200;
    }
  }
//Forms
  .form-fieldset {
    border: 0;
    margin: 0 0 $space-small 0;
    padding: 0;
    &:hover, &:focus {
      & > * {
        background: $color-black-200;
      }
    }
    & > * {
      background: lighten($color-black-200,5%);
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-text-fill-color: $color-black-400;
      -webkit-box-shadow: 0 0 0px 1000px $color-black-200 inset;
    }

    // Error Handling
    .error {
      color: $color-red;
    }
    label.error {
      background: $color-red;
      color: $color-white;
      @extend .t-12;
      @extend .t-bold;
      padding: $space-x $space-small;
      display: block;
      margin: 0;
      width: 100%;
    }
  }
  .form-fieldset-hidden {
    display: none;
  }
  .form-fieldset-select {
    &::before {
      color: $color-black;
      font-family: "Font Awesome 5 Pro";
      content: "\f078";
      @include vertical-center;
      height: 20px;
      width: 20px;
      right: 20px;
      z-index: 1000;
    }
  }
  .form-fieldset-submit {
    border: 0;
    margin: 0 0 $space-small 0;
    padding: 0;
  }
  .form-fieldset-nostyle {
    & > * {
      background: transparent;
    }
    &:hover, &:focus {
      & > * {
        background: transparent;
      }
    }
  }
  .form-label {
    color: $color-black-400;
    display: block;
    letter-spacing: .1rem;
    margin: 0;
    padding: $space-small $space-small 0;
    text-transform: uppercase;
    width: 100%;
    @extend .t-10;
    @extend .t-bold;
  }
  .form-input-text {
    border: 0;
    font-family: $font-primary;
    @extend .t-18;
    @extend .t-bold;
    line-height: 1;
    outline: none;
    padding: $space-small $space-small $space-x;
    width: 100%;
  }
  .form-input-submit {
    width: 100%;
    @media only screen and (min-width: $mq-tablet) {
      // width: auto;
    }
  }
  .form-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // background: url('../images/icon-triangle.svg') 95% center no-repeat lighten($color-black-500,5%);
    border: 0;
    height: 60px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: $space-small $space-small $space-x;
    outline: none;
    width: 100%;
    @extend .t-18;
    @extend .t-bold;
    position: relative;
    
  }
  .form-textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // background: url('../images/icon-triangle.svg') 95% center no-repeat lighten($color-black-500,5%);
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: $space-small $space-small $space-x;
    outline: none;
    height: 180px;
    width: 100%;
    @extend .t-16;
    @extend .t-bold;
  }
// Cards
  .card {
    background: $color-white;
    border: 0;
    border-radius: 0;
    overflow: hidden;
    margin: 0 0 $space-small 0;
    padding: $space-medium;
    width: 100%;
    @media only screen and (min-width: $mq-laptop) {
      margin: 0 0 $space-small 0;
    }
    @media only screen and (min-width: $mq-desktop) {
      margin: 0;
    }
    .header-content {
      margin: 0;
    }
  }
  .card-gray {
    background: $color-black-100;
  }
  .card.card-content {
    h1, h2, h3, h4, h5, h6 {
      color: $color-black;
    }
    p {
      color: $color-blue-500;
      @extend .t-16;
    }
    .cta {
      margin: 0;
    }
    .header-content {
      position: relative;
      z-index: 10;
    }
  }
  .card.card-content-dark {
    h1, h2, h3, h4, h5, h6 {
      color: $color-white;
    }
    p {
      color: $color-blue-0;
    }
    .cta {
      margin: 0;
    }
  }
  .card-content-blue {
    position: relative;
    &:after {
      background: $color-blue-500;
      content: "";
      height: 100%;
      left: 0;
      opacity: 0.6;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }
  [class*=" card-service-"] {
    padding-top: $space-xl;
  }
  .card-fleet {
    flex-flow: column nowrap;
    padding: $space-medium;
  }
  .card-fleet-header {
    margin-top: 0;
    @extend .t-24;
  }
  .card-fleet-subheader {
    @extend .fleet-head-subheader;
     @extend .t-14;
  }
  .card-fleet-image {
    @include flexbox;
    align-items: center;
    background: $color-black-0;
    min-height: 140px;
    // @media only screen and (min-width: $mq-laptop) {
    //   min-height: 280px;
    // }
    // @media only screen and (min-width: $mq-wide) {
    //   min-height: 370px;
    // }
    img {
      width: 100%;
    }
  }
  .card-fleet-desc {
    @extend .t-16;
    flex-grow: 1;
  }
  .card-fleet-cta {
    margin-top: auto;
  }
  .card-about-benefit {
    border-right: 1px solid $color-black-100;
    height: 100%;
    margin: 0;
    &.last-card {
      border-right: 0 solid $color-black-100;
    }
    .header-number {
      margin-bottom: 0;
    }
  }

  .card-careers-job {
    @include flexbox;
    @include flex-wrap(wrap);
    flex-direction: row;
    margin: 0 0 $space-medium;
    padding: 0;
  }
  .card-careers-job-main {
    width: 100%;
    @media only screen and (min-width: $mq-tablet) {
      width: 70%;
    }
    & > * {
      padding: $space-medium;
      @media only screen and (min-width: $mq-tablet) {
        padding: $space-small;
      }
    }
  }
  .card-careers-job--title {
    border-bottom: 1px solid $color-black-100;
    padding-bottom: $space-small;
    width: 100%;
    @media only screen and (min-width: $mq-tablet) {
      padding-top: $space-medium;
      padding-left: $space-medium;
    }
  }
  .card-careers-job--desc {
    @extend .t-16;
    margin: 0;
    padding-top: $space-small;
    padding-bottom: $space-small;
    @media only screen and (min-width: $mq-tablet) {
      padding-bottom: 0;
      padding-left: $space-medium;
    }
  }
  .card-careers-action {
    @include nolist;
    padding: $space-medium;
    padding-top: 0;
    // padding-bottom: 0;
    @media only screen and (min-width: $mq-tablet) {
      padding: $space-small;
      padding-left: $space-medium;
      padding-bottom: $space-medium;
      @include flexbox;
    }
  }
  .card-careers-action--ele {
    margin: 0;
    padding-bottom: $space-small;
    &:last-child {
      padding-bottom: 0;
    }
    @media only screen and (min-width: $mq-tablet) {
      padding-bottom: 0;
      padding-right: $space-medium;
    }
  }
  .card-careers-action--link {
    margin: 0;
  }
  .card-careers-job-aside {
    border-top: 1px solid $color-black-100;
    padding: $space-medium;
    width: 100%;
    @include flexbox;
    @include flex-wrap(wrap);
    align-items: flex-start;
    @media only screen and (min-width: $mq-tablet) {
      border-bottom: 0;
      border-left: 1px solid $color-black-100;
      padding: $space-medium 0 $space-medium $space-small;
      width: 30%;
    }
  }
  .card-careers-job-feature {
    margin: 0 0 $space-small;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
    @media only screen and (min-width: $mq-phonexl) {
      margin-bottom: 0;
      width: 33.3%;
    }
    @media only screen and (min-width: $mq-tablet) {
      margin: 0 0 $space-small;
      width: 100%;
    }
  }
  .card-careers-job-feature--label {
    @extend .t-12;
  }
  .card-careers-job-feature--value {
    @extend .t-bold;
    @extend .t-14;
    margin: 0;
  }
  
  .card-aside {
    padding: 0;
  }
  .card-aside-header {
    border-bottom: 1px solid $color-black-100;
    padding: $space-medium;
    padding-bottom: $space-x;
  }
  .card-aside-main {
    padding: $space-medium;
  }
  .card-aside-footer {
    border-top: 1px solid $color-black-100;
    padding: $space-medium;
    padding-top: $space-small;
    padding-bottom: $space-small;
    a {
      width: 100%;
    }
  }

// Selector
  .selector {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    @media only screen and (min-width: $mq-laptop) {
      overflow: hidden;
    }
  }
  .selector-select {
    @include flexbox;
    justify-content: space-between;
    align-items: flex-end;
  }
  .selector-select-ele {
    height: 80px;
    position: relative;
    width: 100%;
  }
  .selector-select-link {
    display: block;
    height: 80px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
  }
  .selector-select-title {
    @include font-size(14);
    font-weight: 400;
  }

// Fader
  .fader {
    background: $color-blue-500;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
    @include transition($time:300ms);
    visibility: hidden;
    &.on {
      top: 0;
      bottom: 0;
      height: 100%;
      opacity: 1;
      z-index: 10000;
      visibility: visible;
      @include transition($time:300ms, $delay:0ms);
      .fader-logo-inner {
        opacity: 0;
        @include animations($name:inOut,$duration:1600ms,$delay:100ms);
        @include translate(0,0);
      }
    }
    &.hide {
      z-index: -1;
      .fader-logo-inner {
        opacity: 0;
        &:after {
          content: "";
          @include translate(-200px,0);
        }
      }
    }
    &.index {
      z-index: 100;
    }
    .fader-logo {
      overflow: hidden;
      position: fixed;
      @include absolute-center;
      @include transform(skewX(-20deg) translate(-50%,-50%));
      width: 200px;
      &:before {
        // background: url('../images/logo-emblem-white.svg') no-repeat left center;
        background-size: contain;
        content: "";
        height: 100%;
        left: 0;
        opacity: 0.2;
        top: 0;
        width: 100%;
        position: absolute;
      }
    }
    .fader-logo-inner {
      @include translate(0,0);
      // @include transition($time:200ms,$delay:200ms);
      width: 200px;
      svg {
        width: 100%;
      }
    }
  }
  .fader-home {
    @extend .fader;
    @include transition($time:600ms);
  }

// CC Banner
.cc-window {
  background: $color-black;
  @include flex-wrap(wrap);
  box-shadow: 2px -2px 20px rgba(0,0,0,0.1);
}
.cc-window.cc-banner {
  bottom: $space-small;
  left: $space-small;
  padding: $space-small;
  width: 60%;
  @media only screen and (min-width: $mq-laptop) {
    width: 30%;
  }
}
.cc-banner .cc-message {
  color: $color-black-200;
  @extend .t-14;
  line-height: 1.4;
  margin: 0 0 $space-x 0;
  a {
    color: $color-blue-100;
  }
}
.cc-dismiss {
  border: 0;
  min-width: 100px;
}
.cc-compliance {
  width: 100%;
  a {
    @extend .btn;
    @extend .btn-small;
    @extend .btn-secondary;

  }
}

// iFrame
.iframe iframe {
  height: 1400px;
  @media only screen and (min-width: $mq-laptop) {
    height: 1080px;
  }
}

// Bars
.bar {
  padding: $space-x 0;
  position: relative;
  p {
    margin: 0;
    text-align: right;
    width: 100%;
  }
}
.bar-alert {
  background: $color-red;
  color: $color-white;
  p {
    color: $color-white;
  }
}