.fleet-selector {
  background: $color-black-0;
  padding: $space-small 0 $space-small;
  .section-wrap {
    width: 100%;
    @media (min-width: $mq-laptop) {
      width: 85%;
    }
  }
  .fleet-select {
    margin-right: $space-x;
    width: 105%;
    @media (min-width: $mq-tablet) {
      padding-right: 0;
      width: 100%;
    }
  }
  .fleet-select-ele:last-child {
    margin-right: $space-x;
  }
}

.fleet-select-ele {
  margin: 0 $space-x;
  text-align: center;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}
.fleet-select-link {
  @include flexbox;
  @include flex-wrap(wrap);
  align-items: flex-end;
  background: $color-black-0;
}
.fleet-select-image {
  mix-blend-mode: multiply;
  height: 35px;
  margin: 0 auto $space-x;
  width: auto;
  &.fleet-select-image-Sedan {
    height: 35px;
  }
  &.fleet-select-image-SUV {
    height: 45px;
  }
  &.fleet-select-image-Sprinter, &.fleet-select-image-Bus {
    height: 50px;
  }
}
.fleet-select-title {
  color: $color-black-400;
  width: 100%;
}

.fleet-head-headline {
  position: relative;
  // &::first-letter{
  //   margin-left: -0.09em;
  // }
  @media (min-width: $mq-desktop) {
    @include font-size(72);
  }
}
.fleet-head-subheader {
  color: $color-black-300;
  display: inline-block;
  margin: 0;
  width: 100%;
}
.fleet-head-car {
  align-items: center;
  background: $color-black-100;
  @include flexbox;
  height: 100%;
  margin: 0 0 $space-small 0;
}
.fleet-car-image {
  mix-blend-mode: multiply;
  width: 100%;
}

.fleet-rates {
  padding: $space-small 0;
}
.fleet-rates-ele {
  background: $color-black-0;
  margin: 0 0 $space-small;
  padding: $space-small;
  width: 100%;
  @media (min-width: $mq-tablet) {
    height: 100%;
    margin: 0;
  }
}
.fleet-rates-ele-small {
  .fleet-rates-label {
    @include font-size(12);
  }
  .fleet-rates-price {
    @include font-size(16);
  }
}
.fleet-rates-label {
  @include font-size(16);
  color: $color-black-300;
  display: inline-block;
  width: 100%;
}
.fleet-rates-price {
  @include font-size(24);
}

.fleet-detail-car {
  background: $color-black-100;
  margin: 0 0 $space-small;
  padding: $space-small 0;
}
.fleet-detail-list {
  background: linear-gradient(90deg, $color-white 0%, rgba(250, 251, 252, 0) 100%);
  list-style: none;
  margin: 0 0 $space-small;
  padding: $space-small;
  padding-left: 0;
}
.fleet-detail-list-ele {
  @include font-size(14);
  margin: 0;
  padding: 1rem 0 1rem 6rem;
  position: relative;
  &:before {
    content: "";
    background: url('../images/icons/icon-bullet-right.svg') no-repeat left;
    height: 5px;
    width: 40px;
    @include vertical-center;
    left: 0;
  }
}

.fleet_index {
  @include flexbox;
  @include flex-wrap(wrap);

  .fleet-section-header {
    order: 1;
    .header-content {
      margin: 0;
    }
  }
  .fleet-selector {
    background: $color-black-100;
    width: 100%;
    order: 2;
  }
  .fleet-select {
    @include flex-wrap(wrap);
    width: 100%;
  }
  .fleet-select-ele {
    flex-grow: 2;
    height: 290px;
    margin: 0;
    padding: $space-x;
    width: 100%;
    &:last-child {
      margin-right: 0;
    }
    @media (min-width: $mq-tablet) {
      width: 50%;
      &:nth-child(1){
        width: 100%;
        .fleet-select-image {
          @include scale(4);
          margin-top: $space-x;
        }
      }
    }
    @media (min-width: $mq-laptop) {
      width: 33.3%;
      &:nth-child(1){
        width: 66.6%;
        .fleet-select-image {
          @include scale(3.5);
          margin-top: $space-x;
        }
      }
    }
    @media (min-width: $mq-desktop) {
      width: 25%;
      &:nth-child(1){
        width: 50%;
        .fleet-select-image {
          @include scale(3.5);
          margin-top: $space-x;
        }
      }
    }
  }
  .fleet-select-link {
    @extend .card;
    @include flexbox;
    @include flex-wrap(wrap);
    background: $color-black-0;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    min-height: 270px;
    padding: $space-medium 0;
    width: 100%;
  }
  .fleet-select-image {
    @include scale(2);
    margin: 0 auto $space-medium;
    @media (min-width: $mq-tablet) {
      @include scale(1.8);
    }
  }
  .fleet-select-title {
    @include font-size(24);
    width: 100%;
  }
}