.site-footer {
  background: $color-blue-500;
  border-top: 1px solid $color-black-400;
  position: relative;
  z-index: 20;
  text-align: center;
  @media only screen and (min-width: $mq-tablet) {
    text-align: left;
  }

  .nav-social {
    justify-content: center;
    @media only screen and (min-width: $mq-tablet) {
      justify-content: flex-start;
    }
  }
}
.nav-footer {
  height: auto;
  margin: 0 0 $space-small 0;
  .nav-link {
    @extend .link-alt;
    padding: 1rem 0;
    width: 100%;
  }
}
.secton-content-footer {
  margin: 0 0 $space-medium 0;
}