.site-header {
  background: $color-blue-500;
  left: 0;
  padding: $space-small 0;
  max-height: 120px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 20;
  @include translate(0,0);
  @include transition($time:400ms);
}
.site-header-blue {
  background: $color-blue-400;
}

.nav {
  @include flexbox;
}
.nav-link {
  color: $color-white; 
  font-weight: 400;
  padding: 0 $space-small;
  &:hover {
    color: $color-blue-100;
  }
}

.nav-header {
  height: 40px;
  align-items: center;
  justify-content: flex-end;
}

.logo-link {
  background: url(../images/logo-emblem-white.svg) no-repeat center;
  background-size: contain;
  display: inline-block;
  height: 38px;
  margin: 0 auto;
  width: 120px;
  @include text-hide;
  @media only screen and (min-width: $mq-tablet) {
    background: url(../images/logo-main-white.svg) no-repeat center;
    background-size: cover;
    margin: 0;
    width: 148px;
  }
}