.section-home-hero.section-block {
  background: url('../images/home/home-hero-bg-mobile.jpg') no-repeat left top $color-blue-500;
  background-size: 100% auto;
  padding-top: $space-xl;
  @media only screen and (min-width: $mq-tablet) {
    background: url('../images/home/home-hero-bg.jpg') no-repeat center top $color-blue-500;
    background-size: cover;
    padding-top: $space-large;
  }
}
.section-home-hero-sept2019.section-block {
  background: url('../images/home/home-hero-bg-sept2019-mobile.jpg') no-repeat left top $color-black-100;
  background-size: 100% auto;
  padding-top: $space-xl * 1.8;
  @media only screen and (min-width: 380px) {
    padding-top: $space-xl * 2.0;
  }
  @media only screen and (min-width: 440px) {
    padding-top: $space-xl * 2.3;
  }
  @media only screen and (min-width: 500px) {
    padding-top: $space-xl * 2.6;
  }
  @media only screen and (min-width: 560px) {
    padding-top: $space-xl * 2.9;
  }
  @media only screen and (min-width: 630px) {
    padding-top: $space-xl * 3.3;
  }
  @media only screen and (min-width: 720px) {
    padding-top: $space-xl * 3.6;
  }
  @media only screen and (min-width: $mq-tablet) {
    background: url('../images/home/home-hero-bg-sept2019.jpg') no-repeat center top $color-black-100;
    background-size: cover;
    padding-top: $space-large;
  }
  @media only screen and (min-width: $mq-laptop) {
  }
  .header-headline {
    color: $color-black-500;
  }
  .header-description {
    color: $color-black-400;
  }
}
.section-home-hero-covid19.section-block {
  background: url('../images/home/home-hero-bg-covid19-mobile.jpg') no-repeat left top $color-black-100;
  background-size: 100% auto;
  padding-top: $space-xl * 1.8;
  @media only screen and (min-width: 380px) {
    padding-top: $space-xl * 2.0;
  }
  @media only screen and (min-width: 440px) {
    padding-top: $space-xl * 2.3;
  }
  @media only screen and (min-width: 500px) {
    padding-top: $space-xl * 2.6;
  }
  @media only screen and (min-width: 560px) {
    padding-top: $space-xl * 2.9;
  }
  @media only screen and (min-width: 630px) {
    padding-top: $space-xl * 3.3;
  }
  @media only screen and (min-width: 720px) {
    padding-top: $space-xl * 3.6;
  }
  @media only screen and (min-width: $mq-tablet) {
    background: url('../images/home/home-hero-bg-covid19.jpg') no-repeat center top $color-black-100;
    background-size: cover;
    padding-top: $space-xl;
  }
  @media only screen and (min-width: $mq-laptop) {
  }
  .header-headline {
    color: $color-black-500;
  }
  .header-description {
    color: $color-black-400;
  }
}
.section-home-services.section-block {
  background: url('../images/home/home-map-bg.jpg') no-repeat left top $color-blue-500;
  background-size: 100% auto;
  // padding-top: $space-xl;
  @media only screen and (min-width: $mq-tablet) {
    background: url('../images/home/home-map-bg.jpg') no-repeat center top $color-blue-500;
    background-size: cover;
    // padding-top: $space-large;
  }
}
.section-home-services-white.section-block {
  background: $color-black-100;
  background-size: 100% auto;
  // padding-top: $space-xl;
  @media only screen and (min-width: $mq-tablet) {
    background: $color-black-100;
    background-size: cover;
  }
}

.section-home-about {
  background: linear-gradient(180deg, #ECEEF0 0%, #E4EEF6 100%);
}
.section-home-about-title {
  background: $color-blue-300;
  height: 100%;
  padding: $space-medium;
  .header-content {
    margin: 0;
    padding: $space-medium 0;
    @media only screen and (min-width: $mq-tablet) {
      padding: $space-large 0;
    }
  }
}
.section-home-about-image {
  background: url('../images/about/about-photo-bmw.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
}

.section-home-blog {
  background: $color-white;
  img {
    width: 100%;
  }
  .home-blog-img {
    height: 100%;
    object-fit: cover;
    padding: 0 0 $space-small;
    @media only screen and (min-width: $mq-tablet) {
      padding-bottom: 0;
    }
  }
}