.section-block-hero-services {
  position: relative;
  &:after {
    background: linear-gradient(180deg, rgba(34, 42, 54, 0.7) 0%, #222A36 100%);
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .section-head {
    position: relative;
    z-index: 10;
  }
}
.section-block-hero-services-business {
  background: $color-blue-500;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.section-block-services-places-featured {
  background: $color-blue-500;
  background-size: 100% auto;
  @media only screen and (min-width: $mq-tablet) {
    background-size: cover;
  }
}

.card-service-business {
  background: url('../images/services/services-business-bg.jpg') no-repeat center top;
  background-size: cover;
}
.card-service-wedding {
  background: url('../images/services/services-wedding-bg.jpg') no-repeat center top;
  background-size: cover;
}
.card-service-datenight {
  background: url('../images/services/services-datenight-bg.jpg') no-repeat center top;
  background-size: cover;
}
.card-content-services-places {
  background-size: cover;
  background-position: center;
  min-height: 320px;
  padding-top: $space-large * 1.2;
}
.card-content-image-services {
  left: 0;
  position: absolute;
  top: 0;
  width: 106%;
}

.list-text-services-name {
  @extend .t-16;
}
.list-text-services-type {
  @extend .t-14;
}
.services-select {
  padding-right: $space-x;
  width: 720px;
  @media (min-width: $mq-tablet) {
    padding-right: 0;
    width: 100%;
  }
}
.services-select-ele {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;
  &:after {
    content: "";
    background: linear-gradient(180deg, rgba(34, 42, 54, 0.1) 0%, #222A36 100%);
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 101%;
    z-index: 0;
  }
}
.services-selector {
  background: $color-blue-500;
  padding: $space-small 0 $space-small;
}
.services-select-image {
  opacity: 0.4;
  position: relative;
  height: 80px;
  z-index: 1;
}
.services-select-title {
  bottom: 10px;
  color: $color-white;
  left: 20px;
  position: absolute;
  text-align: left;
  width: 80%;
  z-index: 10;
}

.services_index {
  @include flexbox;
  @include flex-wrap(wrap);
  .section-header {
    order: 1;
    .header-content {
      margin: 0;
    }
  }
  .selector {
    background: $color-black-100;
    width: 100%;
    order: 2;
  }
  .selector-select {
    @include flex-wrap(wrap);
    width: 100%;
  }
  .services-select-ele {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    flex-grow: 2;
    height: 350px;
    margin: $space-x;
    overflow: hidden;
    padding: 0;
    position: relative;
    @include flexbox;
    align-items: center;
    width: 100%;
    &:after {
      content: "";
      background: linear-gradient(180deg, rgba(34, 42, 54, 0.1) 0%, #222A36 100%);
      opacity: 0.7;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
    }
    @media (min-width: $mq-tablet) {
      width: 40%;
    }
    @media (min-width: $mq-laptop) {
      width: 30%;
    }
    @media (min-width: $mq-desktop) {
      width: 30%;
    }
  }
  .service-select-link {
    height: 100%;
    width: 100%;
  }
  .services-select-image {
    display: none;
  }
  .services-select-title {
    @extend .t-28;
  }
}

.services_prom .section-block-services-places-all {
  display: none;
}