// _type.scss

  // General
    * {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-text-size-adjust: 100%;
      text-rendering: optimizeLegibility;
    }
    html {
      font-size: 62.5%;
      -webkit-font-smoothing: auto;
      -moz-osx-font-smoothing: auto;
    }
    body {
      font-family: $font-primary;
      font-size: 1em;
      line-height: 1.4;
    }

    .t-96 {
      @include font-size(64);
      @media (min-width: $mq-tablet) {
        @include font-size(96);
      }
    }
    .t-72 {
      @include font-size(64);
      @media (min-width: $mq-tablet) {
        @include font-size(72);
      }
    }
    .t-64 {
      @include font-size(48);
      @media (min-width: $mq-tablet) {
        @include font-size(64);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(64);
      }
      @media (min-width: $mq-desktop) {
        @include font-size(72);
      }
      @media (min-width: $mq-wide) {
        @include font-size(96);
      }
    }
    .t-48 {
      @include font-size(36);
      @media (min-width: $mq-tablet) {
        @include font-size(48);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(56);
      }
      @media (min-width: $mq-wide) {
        @include font-size(64);
      }
    }
    .t-36 {
      @include font-size(28);
      @media (min-width: $mq-tablet) {
        @include font-size(36);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(48);
      }
      @media (min-width: $mq-wide) {
        @include font-size(56);
      }
    }
    .t-28 {
      @include font-size(24);
      @media (min-width: $mq-tablet) {
        @include font-size(28);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(36);
      }
      @media (min-width: $mq-wide) {
        @include font-size(48);
      }
    }
    .t-24 {
      @include font-size(18);
      @media (min-width: $mq-tablet) {
        @include font-size(24);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(28);
      }
      @media (min-width: $mq-wide) {
        @include font-size(36);
      }
    }
    .t-18 {
      @include font-size(16);
      @media (min-width: $mq-tablet) {
        @include font-size(18);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(18);
      }
      @media (min-width: $mq-wide) {
        @include font-size(24);
      }
    }
    .t-16 {
      @include font-size(14);
      @media (min-width: $mq-tablet) {
        @include font-size(16);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(18);
      }
      @media (min-width: $mq-wide) {
        @include font-size(24);
      }
    }
    .t-14 {
      @include font-size(14);
      @media (min-width: $mq-tablet) {
        @include font-size(14);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(16);
      }
      @media (min-width: $mq-wide) {
        @include font-size(18);
      }
    }
    .t-12 {
      @include font-size(10);
      @media (min-width: $mq-tablet) {
        @include font-size(12);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(14);
      }
      @media (min-width: $mq-wide) {
        @include font-size(16);
      }
    }
    .t-10 {
      @include font-size(8);
      @media (min-width: $mq-tablet) {
        @include font-size(10);
      }
      @media (min-width: $mq-laptop) {
        @include font-size(12);
      }
      @media (min-width: $mq-wide) {
        @include font-size(14);
      }
    }
    .t-light {
      font-weight: 300;
    }
    .t-normal {
      font-weight: 400;
    }
    .t-book {
      font-weight: 500;
    }
    .t-bold {
      font-weight: 700;
    }

  // Links
    a {
      color: $color-blue;
      @extend .t-normal;
      text-decoration: none;
      &:hover {
        color: $color-blue-300;
        text-decoration: none;
      }
      &.link-alt {
        color: $color-blue-100;
        &:hover {
          color: $color-blue-0;
        }
      }
    }

  // Paragraphs
    p, ul, li, span, strong {
      color: $color-black-400;
      margin: 0 0 $space-small 0;
      @extend .t-normal;
      @extend .t-18;
      &.content-large {
        @extend .t-24;
      }
      &.content-small {
        @extend .t-14;
      }
      &.content-disabled {
        opacity: .3;
      }
      &.last-child {
        margin: 0;
      }
      &.content-margin-bottom {
        margin-bottom: $space-medium;
      }
      & + h1, & + h2, & + h3, & + h4, & + h5 {
        margin-top: $space-small;
      }
    }

    strong {
      color: $color-black;
      @extend .t-bold;
    }

  // Headers
    h1, h2, h3, h4, h5, h6 {
      color: $color-black;
      display: inline-block;
      line-height: 1.4;
      margin: 0 0 $space-x 0;
      position: relative;
      &.bottom-margin-none {
        margin: 0 0 0 0;
      }
      &.bottom-margin-small {
        margin: 0 0 $space-small 0;
      }
    }
    h1, h2, h3 {
      @extend .t-light;
      margin-left: -0.055em;
      &.bottom-margin-none {
        margin: 0 0 0 0;
      }
    }

    h4, h5, h6 {
      @extend .t-bold; 
    }

    h1 {
      @extend .t-64;
      &.headline {
        line-height: 1.1;
      }
    }
    h2 {
      @extend .t-36;
    }
    h3 {
      @extend .t-28;
    }
    h4 {
      @extend .t-18;
    }
    h5 {
      @extend .t-16;
    }
    h6 {
      @extend .t-14;
    }

    // p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
    //   margin-top: $space-medium;
    // }

  // Lists
    ul {
      list-style: disc;
      margin: 0 0 $space-small $space-small;
      li {
        // @include font-size(24);
        margin-bottom: $space-x;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

  // Classes
    .cta {
      color: $color-black;
      @extend .t-16;
      @extend .t-light;
      display: block;
      margin: $space-x 0;
      position: relative;
      &:after {
        content: "";
        background: url('../images/icons/icon-cta-arrow-black.svg') center;
        background-size: cover;
        display: inline-block;
        height: 16px;
        left: $space-x;
        top: 1px;
        position: relative;
        width: 16px;
        @include transition;
        @media (min-width: $mq-laptop) {
          // top: auto;
        }
      }
      &:hover {
        &:after {
          transform: translatex(-2px);
        }
      }
    }
    a.cta-large {
      @extend .t-24;
      &:after {
        content: "";
        background: url('../images/icons/icon-cta-arrow-black.svg') center;
        background-size: cover;
        @media (min-width: $mq-laptop) {
          height: 24px;
          width: 24px;
          top: 2px;
        }
      }
    }
    .cta-blue {
      color: $color-blue;
      &:hover {
        color: $color-blue-200;
      }
      &:after {
        content: "";
        background: url('../images/icons/icon-cta-arrow-black.svg') center;
        background-size: cover;
      }
    }
    .cta-white {
      color: $color-white;
      &:hover {
        color: $color-blue-0;
      }
      &:after {
        content: "";
        background: url('../images/icons/icon-cta-arrow-white.svg') center;
        background-size: cover;
      }
    }
    .nav-link {
      @extend .t-16;
    }
    .header-subheader {
      @extend .t-18;
    }
    .header-number {
      @extend .t-bold;
      @extend .t-48;
      margin: 0 0 $space-small;
      text-indent: -.3rem;
    }
    .fleet-select-title {
      @extend .t-14;
      @extend .t-normal;
      line-height: 1;
    }
    .no-list {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 0;
      }
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }

    .content-center {
      display: inline-block;
      text-align: center;
      width: 100%;
    }
