@charset "utf-8";
@import "normalize";
@import "variables";
@import "mixins";
@import "type";
@import "components";
@import "animations";
@import "header";
@import "home";
@import "fleet";
@import "services";
@import "about";
@import "careers";
@import "blog";
@import "footer";

body {
  background: $color-black-100;
  &.menu-active {
    overflow: hidden;
  }
}
.site-main {
  @include transition();
  opacity: 1;
  &.out {
    opacity: 0;
  }
}
div[class^="col-"], div[class*=" col-"] {
  // overflow: hidden;
}
.section-wrap {
  margin: 0 auto;
  width: 95%;
  @media only screen and (min-width: $mq-phonexl) {
    width: 90%;
  }
  @media only screen and (min-width: $mq-tablet) {
    width: 90%;
  }
  @media only screen and (min-width: $mq-laptop) {
    max-width: 1440px;
    width: 85%;
  }
  @media only screen and (min-width: $mq-desktop) {
    max-width: 1440px;
    width: 75%;
  }
  @media only screen and (min-width: $mq-wide) {
    max-width: 1440px;
    width: 75%;
  }
}
.section-wrap-wide {
  @media only screen and (min-width: $mq-desktop) {
    max-width: 1440px;
    width: 95%;
  }
}

.header-content {
  margin: 0 0 $space-medium;
}
.header-underline {
  &:after {
    background: rgba(0,0,0,0.1);
    content:"";
    height: 4px;
    width: 150px;
    @include horizontal-center;
    bottom: -$space-x;
  }
}
.header-cta {
  padding: $space-medium 0;
}

.section-cta {
  background: $color-blue-500;
  padding: $space-xl 0;
  .header-content {
    margin: 0;
  }
  .header-headline {
    @extend .t-72;
  }
  .btn {
    padding: $space-small 0;
    width: 100%;
  }
}