- content_for :title do
  = current_page.data.title
= wrap_layout :layout do
  section.section-header.section-header-blog style=""
    .row.no-gutters
      .col-12.col-md-7
        .section-header-blog-text
          header.header-headline-blog
            h2.header-headline
              = current_page.data.title
            p.content-large
              = current_page.data.desc
      .col-12.col-md-5
        .section-header-blog-image
          = image_tag "/images/blog/#{current_page.data.hero}", :alt => "#{current_page.data.title}", :class => ""
  article.section-block.section-block-blog
    .section-wrap
      .container-fluid
        .row
          .col-12.col-lg-10.offset-lg-1
            == yield
          .col-12.col-lg-10.offset-lg-1
            .blog-cta
              .row 
                .col-12.col-lg-6.d-flex.justify-content-center.align-item-center
                  h5.blog-cta-header Join the Discussion:
                .col-12.col-lg-6
                  nav.blog-cta-nav.nav-social.d-flex.justify-content-center.justify-content-lg-start
                    /* Facebook */
                    = link_to "#{current_page.data.facebook}", :class => "nav-link nav-link-facebook" do
                      i class="fab fa-facebook"
                    /* Linkedin */
                    = link_to "#{current_page.data.linkedin}", :class => "nav-link nav-link-linkedin" do
                      i class="fab fa-linkedin"
                    /* Twitter */
                    = link_to "#{current_page.data.twitter}", :class => "nav-link" do
                      i class="fab fa-twitter nav-link-twitter"
                    /* Instagram */
                    = link_to "#{current_page.data.instagram}", :class => "nav-link" do
                      i class="fab fa-instagram nav-link-instagram"
  = partial "/partials/_cta-signup-safety"