doctype html
html lang="en"
  head
    meta  http-equiv="X-UA-Compatible" content="IE=edge"
    meta charset="utf-8"
    meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" name="viewport"
    meta name="description" content="Foundation Transportation is an elite transportation company founded in 2013 that caters to business executives and VIP clientele."
    title 
      = yield_content :title  
      |&nbsp;- Foundation Transportation
      
    - ogp_tags do|name, value|
      meta property=name content=value

    link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"
    link href="https://fonts.googleapis.com/css?family=Gothic+A1:400,900" rel="stylesheet"
    
    link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/brands.css" integrity="sha384-1KLgFVb/gHrlDGLFPgMbeedi6tQBLcWvyNUN+YKXbD7ZFbjX6BLpMDf0PJ32XJfX" crossorigin="anonymous"
    link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css" integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0" crossorigin="anonymous"
    link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"
    link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"

    == stylesheet_link_tag :site
    == javascript_include_tag  "all", "jquery.min", "barba.min", "aos.min"

    
    script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"
    javascript:
      window.addEventListener("load", function(){
      window.cookieconsent.initialise({
        "content": {
          "message": "This website uses cookies to ensure you get the best experience on our website.",
          "href": "http://myfdtps.netlify.com/privacy-policy"
        }
      })});
  body
    .site-wrap
      header.site-header
        .section-wrap
          .container-fluid
            .row.align-items-center
              .col-12.col-md-3
                = link_to "Foundation Transportation", "/", :class => "logo-link"
      #barba-wrapper            
        main.site-main.barba-container data-namespace="#{current_page.data.slug}"
          div class="#{page_classes}"
            == yield
          footer.site-footer.section-block-dark.section-block
            .section-wrap
              .container-fluid
                .row
                  .col-md-12
                    .row
                      .col-sm-6.secton-content-footer
                        p.content-large 
                          a.link-alt href="tel:+1-855-593-3877" +1-855-593-3877
                        h5 Foundation Transportation
                        p.content-small Copyright &copy; 2019
      #menu.nav-mobile
        nav.nav.nav-menu-mobile.nav-menu-mobile-primary
          = link_to "Book a Ride", "/booknow", :class => "nav-link"
          = link_to "Become a Member", "/signup", :class => "nav-link"
        nav.nav.nav-menu-mobile.nav-menu-mobile-secondary
          = link_to "Home", "/", :class => "nav-link"
          = link_to "Fleet", "/fleet", :class => "nav-link"
          = link_to "Services", "/services", :class => "nav-link"
          = link_to "About Us", "/about-us", :class => "nav-link"
        nav.nav.nav-menu-mobile.nav-menu-mobile-tertiary
          = link_to "Contact", "/contact", :class => "nav-link"
          / = link_to "FAQ", "faq", :class => "nav-link"
          = link_to "Privacy Policy", "/privacy-policy", :class => "nav-link"
          = link_to "Terms of Service", "/terms-of-service", :class => "nav-link"
        nav.nav.nav-menu-mobile.nav-menu-mobile-social.nav-social.d-flex.justify-content-between
          = partial "partials/_nav-social"
    .fader
      .fader-logo
        .fader-logo-inner
          = partial "partials/_logo-emblem"
    .fader-home
      .fader-logo
        .fader-logo-inner
          = partial "partials/_logo-emblem"