= wrap_layout :layout do
  .selector.fleet-selector
    .section-wrap
      .container-fluid
        .row
          .col-12
            .selector-select.fleet-select
              - data.fleet.car.each do |car|
                .selector-select-ele.fleet-select-ele
                  = link_to "/fleet/#{car.slug}.html", :class => "selector-select-link fleet-select-link" do
                    = image_tag "#{car.image_header}", :class => "selector-select-image fleet-select-image fleet-select-image-" + "#{car.type}"
                    .selector-select-title.fleet-select-title
                      | #{car.shortname}
  == yield