doctype html
html lang="en"
  head
    meta  http-equiv="X-UA-Compatible" content="IE=edge"
    meta charset="utf-8"
    meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" name="viewport"
    meta name="description" content="Foundation Transportation is an elite transportation company founded in 2013 that caters to business executives and VIP clientele."
    title 
      = yield_content :title  
      |&nbsp;- Foundation Transportation
      
    - ogp_tags do|name, value|
      meta property=name content=value

    /! Google Tag Manager 
    javascript:
      (function(w,d,s,l,i){
        w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MLP2XXM');
    /! End Google Tag Manager

    link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"
    link href="https://fonts.googleapis.com/css?family=Gothic+A1:400,900" rel="stylesheet"
    link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"
    link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css"

    script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"
    script src="https://kit.fontawesome.com/79ad78b8f4.js" crossorigin="anonymous"

    == stylesheet_link_tag :site
    == javascript_include_tag  "jquery.min", "jquery.validate.min.js", "all"
    
  body
    // Google Tag Manager (noscript)
    noscript
      iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLP2XXM" height="0" width="0" style="display:none;visibility:hidden"
    // End Google Tag Manager (noscript)
    
    .site-wrap
      .bar.bar-alert
        .container-fluid
          .row
            .col-6.col-sm-6.col-md-4.offset-md-2
              .center-vertical
                p.content COVID-19 Update
            .col-5.col-sm-3.col-md-3.col-lg-2
              = link_to "Learn More", "/covid19", :class => "btn btn-tertiary btn-small", :id => "#{current_page.data.slug}_alert_btn"
      header.site-header.site-header-blue
        .section-wrap
          .container-fluid
            .row.align-items-center
              .col-9.col-md-3
                = link_to "Foundation Transportation", "/", :class => "logo-link"
              .col-3.col-md-9
                .nav-small.d-md-none
                  #menuTrig.nav-trigger
                    .nav-bar.nav-bar-1
                    .nav-bar.nav-bar-2
                    .nav-bar.nav-bar-3
                    / = image_tag "icons/icon-bars.svg", :class => "nav-trigger-icon"
                  #menuClose.nav-close
                    | &times;
                .nav-large.d-none.d-md-block
                  nav.nav.nav-header
                    = link_to "Fleet", "/fleet", :class => "nav-link"
                    = link_to "Services", "/services", :class => "nav-link"
                    = link_to "About Us", "/about-us", :class => "nav-link"
                    = link_to "Book a Ride", "https://book.mylimobiz.com/v4/foundtrans", :class => "btn btn-tertiary btn-small btn-nav btn-nav-end", :id => "#{current_page.data.slug}_header_btn"
      #barba-wrapper            
        main.site-main.barba-container data-namespace="#{current_page.data.slug}"
          div class="#{page_classes}"
            == yield
          footer.site-footer.section-block-dark.section-block
            .section-wrap
              .container-fluid
                .row
                  .col-sm-6.col-md-6.col-lg-4
                    h3 Foundation
                    nav.nav.nav-footer
                      = link_to "Home", "/", :class => "nav-link"
                      = link_to "Fleet", "/fleet", :class => "nav-link"
                      = link_to "Services", "/services", :class => "nav-link"
                      = link_to "About Us", "/about-us", :class => "nav-link"
                  .col-sm-6.col-md-6.col-lg-4
                    h3 More
                    nav.nav.nav-footer
                      = link_to "Contact", "/contact", :class => "nav-link"
                      = link_to "Careers", "/careers", :class => "nav-link"
                      = link_to "Privacy Policy", "/privacy-policy", :class => "nav-link"
                      = link_to "Terms of Service", "/terms-of-service", :class => "nav-link"
                  .col-md-12.col-lg-4
                    .row
                      .col-sm-6.col-lg-12.secton-content-footer
                        p.content-large 
                          a.link-alt href="tel:+1-855-593-3877" +1-855-593-3877
                        h5 Foundation Transportation
                        p.content-small Copyright &copy; <script>document.write(new Date().getFullYear());</script>
                      .col-sm-6.col-lg-12.secton-content-footer
                        nav.nav.nav-social.d-flex.justify-content-lg-between
                          = partial "partials/_nav-social"
      #menu.nav-mobile
        nav.nav.nav-menu-mobile.nav-menu-mobile-primary
          = link_to "Book a Ride", "https://book.mylimobiz.com/v4/foundtrans", :class => "nav-link"
          / = link_to "Become a Member", "/signup", :class => "nav-link"
        nav.nav.nav-menu-mobile.nav-menu-mobile-secondary
          = link_to "Home", "/", :class => "nav-link"
          = link_to "Fleet", "/fleet", :class => "nav-link"
          = link_to "Services", "/services", :class => "nav-link"
          = link_to "About Us", "/about-us", :class => "nav-link"
        nav.nav.nav-menu-mobile.nav-menu-mobile-tertiary
          = link_to "Contact", "/contact", :class => "nav-link"
          / = link_to "FAQ", "faq", :class => "nav-link"
          = link_to "Privacy Policy", "/privacy-policy", :class => "nav-link"
          = link_to "Terms of Service", "/terms-of-service", :class => "nav-link"
        nav.nav.nav-menu-mobile.nav-menu-mobile-social.nav-social.d-flex.justify-content-between
          = partial "partials/_nav-social"
    .fader
      .fader-logo
        .fader-logo-inner
          = partial "partials/_logo-emblem"
    .fader-home
      .fader-logo
        .fader-logo-inner
          = partial "partials/_logo-emblem"
    