= wrap_layout :layout do
  .selector.services-selector
    .section-wrap
      .container-fluid
        .row
          .col-12
            .selector-select.services-select
              - data.services.service.each do |serve|
                .selector-select-ele.services-select-ele style="background-image: url('../images/services/services-card-#{serve.slug}.jpg')"
                  = link_to "/services/#{serve.slug}.html", :class => "selector-select-link service-select-link" do
                    / = image_tag "services/services-selector-#{serve.slug}.jpg", :class => "selector-select-image services-select-image"
                    .selector-select-title.services-select-title = serve.name
  == yield