.section-block.section-cta.section-block-dark 
  .section-wrap
    .container-fluid
      .row
        .col-12
          header.header-content.text-center
            .row
              .col-12.col-lg-10.offset-lg-1
                h2.header-headline
                  | Lifestyle Level Up
                p.header-description.content-large We handle getting you to your location.<br />You take care of your business.
                .row
                  / .col-md-3.offset-md-3
                  /   = link_to "Sign Up", "signup", :class => "btn btn-primary"
                  .col-md-4.offset-md-4
                    = link_to "Book a Ride", "https://book.mylimobiz.com/v4/foundtrans", :class => "btn btn-secondary", :id => "#{serve.shortname}_footer_btn"