.section-block.section-cta.section-block-dark 
  .section-wrap
    .container-fluid
      .row
        .col-12
          header.header-content.text-center
            .row
              .col-12.col-lg-6.offset-lg-3
                h2.header-headline
                  | Ride Safely
                p.header-description.content-large Safety is our priority when you need to get where you need to go.
                .row
                  / .col-md-3.offset-md-3
                  /   = link_to "Sign Up", "signup", :class => "btn btn-primary"
                  .col-md-4.offset-md-4
                    = link_to "Book a Ride", "https://book.mylimobiz.com/v4/foundtrans", :class => "btn btn-primary", :id => "#{current_page.data.slug}_footer_btn"