.section-block.section-home-hero-covid19.section-block-dark
  .section-wrap
    .container-fluid
      .row
        .col-12
          .row
            .col-12
              header.header-content
                .row
                  .col-sm-10.col-lg-6
                    h1.headline.header-headline
                      | Skip the flight<br />Travel with us
                .row
                  .col-sm-8.col-md-5
                    p.header-description.content-large.content-margin-bottom
                      | Instead of canceling your trip, ride with us and stay healthy.
                .row
                  .col-12.col-md-3
                    = link_to "Reserve Today", "https://book.mylimobiz.com/v4/foundtrans", :class => "btn btn-primary", :id => "#{current_page.data.slug}_hero_btn"