.section-block.section-home-hero-sept2019.section-block-dark
  .section-wrap
    .container-fluid
      .row
        .col-12
          .row
            .col-12
              header.header-content
                .row
                  .col-sm-10.col-lg-6
                    h1.headline.header-headline
                      | Ride in Style, </br>Big Time
                .row
                  .col-sm-8.col-md-5
                    p.header-description.content-large.content-margin-bottom
                      | Coming early September, you can book our brand new custom Sprinter for work &amp; play.
                .row
                  .col-12.col-md-3
                    = link_to "Reserve Today", "/booknow", :class => "btn btn-primary", :id => "#{current_page.data.slug}_hero_btn"