/* Instagram */
= link_to "https://www.instagram.com/myfdtps/", :class => "nav-link" do
  i class="fab fa-instagram"
/* Twitter */
= link_to "https://twitter.com/myfdtps", :class => "nav-link" do
  i class="fab fa-twitter"
/* Facebook */
= link_to "https://www.facebook.com/myfdtps/", :class => "nav-link" do
  i class="fab fa-facebook"
/* Linkedin */
= link_to "https://www.linkedin.com/company/foundation-transportation/", :class => "nav-link" do
  i class="fab fa-linkedin"