---

title: Here is how we work to keep you safe from COVID-19
date: 2020-04-23 18:23 UTC
tags: 
desc: With a strong commitment to getting you where you need to go, we want you, our customer to know that Foundation Transportation cares about you during this time. 
hero: '2020_04/myfdtps-blog-covid-000.jpg'
facebook: https://www.facebook.com/myfdtps
linkedin: https://www.linkedin.com/company/foundation-transportation/
twitter: https://www.twitter.com/myfdtps
instagram: https://www.instagram.com/myfdtps
---

.row
	.col-12.col-lg-10.offset-lg-1
		p.content-large
			| As the world slows down, and the challenges of COVID-19 limit the ability to move about the nation, we know that life still goes on. 

		p.content-large	
			| That is why we are dedicated to keep you moving and get you to your destination in a seamless and safe manner.
		iframe src="https://www.youtube.com/embed/KR__9FyEUc0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" style="width: 100%; height: 60vh; margin: 4rem 0 4rem 0;"
		p
			| We take the health and wellbeing of our customers seriously. Without hesitation, we have implemented rigorous protocols to ensure that our vehicles exceed the cleanliness and sanitary standards recommended by the <a href="https://www.cdc.gov/coronavirus/2019-ncov/community/organizations/disinfecting-transport-vehicles.html">CDC</a>. Our clients can rest assured knowing that every time they enter our vehicles, it is clear of any and all surface layer contaminates and germs. 

		p
			| Our team members are committed to upholding this promise, by conducting a thorough cleaning of our vehicle’s interior surfaces after each ride using EPA-registered and approved, bleach-based disinfectant wipes listed on the <a href="https://www.cdc.gov/coronavirus/2019-ncov/community/organizations/disinfecting-transport-vehicles.html">CDC</a> website. For non-porous surfaces, they will receive a soap and water treatment prior to disinfecting, to ensure a thorough cleaning.
.row
	.col-12.col-lg-5
		= image_tag "blog/2020_04/myfdtps-blog-covid-002.jpg", :alt => "Cleaning Image", :class => ""
	.col-12.col-lg-7
		h3
			| Our Cleaning Process
		p
			| Our clients are our number one priority. With you in mind, we take great pride in providing the best riding experience. We understand the importance of comfort and satisfaction and enjoy offering our clients an array of refreshments. 
		p
			| To ensure a safe and sanitary experience, we have opted to provide securely sealed and packaged refreshments at this time. This effort will greatly eliminate the possibility of food or beverage contamination and puts the health of our clients first. 
		p
			| With that said, we have and will continue to provide curated refreshment packages and accommodate our clients' preferences upon request.
		p
			| In addition to our vehicles, we will also pay great attention to our office, dispatch and working areas on a daily basis. The cleaning process will follow the guidelines outlined on the <a href="https://www.cdc.gov/coronavirus/2019-ncov/community/organizations/disinfecting-transport-vehicles.html">CDC</a> website, to maintain a healthy work environment and facility.
.row
	.col-12.col-lg-10.offset-lg-1
		h3 Taking Care of Our Team
		p
			| Our veteran fleet chauffeurs are the heart of our operation and the gatekeeper to an enjoyable and professional experience. To ensure the health and wellbeing of our team, we have established a health protocol that will allow for a safe service environment. 
		p
			| Our health protocol encourages all team members to candidly report any burgeoning health issues related to COVID-19, or any sickness that has compromised their well-being. We take immediate action upon notice of a team member who feels unwell and do not allow them to report to work. Instead, we go through great measures to recommend appropriate doctors and encourage them to take the necessary time to heal and get better. 
		p
			| To help mitigate the risk of exposure, we will provide all chauffeurs with personal protective equipment. We value our staff’s health, and by putting their health needs first, we by proxy ensure a safe and healthy environment for our clients.
.row
	.col-12.col-lg-10.offset-lg-1
		h3 Staying Safe During Weird Times
		p
			| In a time of great uncertainty, we assure you that you are safe in our hands. In addition to our high standards of cleanliness, we will maintain our top-notch service of elite comfort and satisfaction with every ride and get you to where you need to go.  
		p
			| Our top-of-the-line luxury vehicles are available for your business and personal needs. If you have any questions or concerns, please don't hesitate to give us a call at <a href="tel:1-855-593-3877">1-855-593-3877</a>.