- content_for :title do
  = car.shortname

.section-block.section-fleet
  .section-wrap
    .container-fluid
      .row
        .col-12
          header.header-content.fleet-head
            .row
              .col-12.col-lg-5.order-2.order-lg-1
                / span.header-subheader.fleet-head-subheader
                /   = car.type
                h1.header-headline.fleet-head-headline = car.name
                p.header-description.fleet-head-desc = car.desc
              .col-12.col-md-8.offset-md-2.col-lg-7.offset-lg-0.order-1.order-lg-2
                .fleet-head-car
                  = image_tag "#{car.image_header}", :alt => "#{car.name}", :class => "fleet-car-image"
              .col-12.col-lg-12.order-3
                .fleet-rates
                  .row
                    .col-12.col-sm-4.col-md-3.col-lg-2.d-flex
                      .fleet-rates-ele.fleet-rates-ele-small
                        label.fleet-rates-label
                          | Hourly,<br />starting at
                        span.fleet-rates-price
                          | $#{car.hourly}/hr
                    .col-6.col-sm-4.col-md-3.col-lg-2.d-flex
                      .fleet-rates-ele.fleet-rates-ele-small
                        label.fleet-rates-label
                          | Daily,<br />starting at
                        span.fleet-rates-price
                          | $#{car.daily}/day
                    .col-6.col-sm-4.col-md-3.col-lg-2.d-flex
                      .fleet-rates-ele.fleet-rates-ele-small
                        label.fleet-rates-label
                          | Airport,<br />starting at
                        span.fleet-rates-price
                          | $#{car.airport}/hr
                    .col-12.col-sm-12.col-md-3
                      = link_to "Book a Ride", "/booknow", :class => "btn btn-secondary btn-full d-flex align-items-center justify-content-center", :id => "#{car.slug}_hero_btn"
                      
        .col-12
          section.fleet-detail
            .row.align-items-center
              .col-12.col-md-8.offset-md-2.col-lg-4.offset-lg-0.col-xl-6.order-lg-2
                .fleet-detail-car
                  = image_tag "#{car.image_detail}", :alt => "#{car.name}", :class => "fleet-car-image"
              .col-12.col-sm-6.col-lg-4.col-xl-3.order-lg-1
                ul.fleet-detail-list
                  - car.benefits_a.each do |benefit|
                    li.fleet-detail-list-ele = benefit.benefit
              .col-12.col-sm-6.col-lg-4.col-xl-3.order-lg-3
                ul.fleet-detail-list.fleet-detail-list-reverse
                  - car.benefits_b.each do |benefit|
                    li.fleet-detail-list-ele = benefit.benefit
= partial "partials/_cta-signup-fleet"