---
title: Error 404
---
- content_for :title do
  = current_page.data.title

.section-header.section-header-small.section-header-book
  .section-wrap
    .container-fluid
      .row
        .col-12.col-lg-10
          h1.header-headline
            = current_page.data.title
.section-block.section-block-smallprint
  .section-wrap
    .container-fluid
      .row
        .col-12.col-lg-6
          p Looks like this page fell asleep in one of our comfortable vehicles. Head back <a href="/">home</a>.
          