---
slug: aboutus
title: About Us
---
- content_for :title do
  = current_page.data.title
.section-header.section-header-about
  .section-wrap
    .container-fluid
      .row
        .col-12.col-lg-10
          h1.header-headline
            = current_page.data.title
          p.content-large Foundation Transportation, LLC is an elite transportation company founded in 2013 that caters to business executives and VIP clientele.
.section-block.section-block-about
  .section-wrap
    .container-fluid
      .row
        .col-12.col-lg-6
          p.content-large
            strong Humble Beginnings<br />
            | Headquartered in Cleveland, Ohio, Foundation Transportation is the one-stop-shop that prides itself in providing impeccable services for your luxury transportation experience.
          p.content-large
            strong Our Mission<br />
            | Our goal is to set the industry standard when it comes to catering to elite clientele. Our dedication to providing excellent customer service to loyal clientele is what separates us from our competitors.
          p.content-large
            | We offer top-of-the-line luxury vehicles paired with professional and veteran fleet chauffeurs.
.section-block.section-block-quote
  .section-wrap
    .container-fluid
      .row
        .col-12.col-lg-9
          blockquote.text-quote The greatest thing in this world is not so much where we stand as in what direction we are moving.
          p.text-quote-author Johann Wolfgang von Goethe
.section-block.section-block-logos
  .section-wrap
    .container-fluid
      .row
        .col-6.col-sm-4.col-md-4.col-lg-2.d-flex.align-items-center.justify-content-center
          = link_to "https://www.bmwusa.com/", :class => "" do
            = image_tag "about/about-logo-bmw.svg", :alt => "BMW", :class => "logo about-logo"
        .col-6.col-sm-4.col-md-4.col-lg-2.d-flex.align-items-center.justify-content-center
          = link_to "https://www.mbusa.com/en/home", :class => "" do
            = image_tag "about/about-logo-benz.svg", :alt => "Mercedez", :class => "logo about-logo"
        .col-6.col-sm-4.col-md-4.col-lg-2.d-flex.align-items-center.justify-content-center
          = link_to "https://www.cadillac.com/", :class => "" do
            = image_tag "about/about-logo-cadillac.svg", :alt => "Cadillac", :class => "logo about-logo"
        .col-6.col-sm-4.col-md-4.col-lg-2.d-flex.align-items-center.justify-content-center
          = link_to "https://www.mbvans.com/sprinter/model/sprinter", :class => "" do
            = image_tag "about/about-logo-sprinter.svg", :alt => "Sprinter", :class => "logo about-logo"
        .col-6.col-sm-4.col-md-4.col-lg-2.d-flex.align-items-center.justify-content-center
          = link_to "https://www.limo.org/", :class => "" do
            = image_tag "about/about-logo-nla.svg", :alt => "NLA", :class => "logo about-logo"
        .col-6.col-sm-4.col-md-4.col-lg-2.d-flex.align-items-center.justify-content-center
          = link_to "http://www.rideresponsibly.org/", :class => "" do
            = image_tag "about/about-logo-rideresponsibly.svg", :alt => "BMW", :class => "logo about-logo"
= partial "partials/_cta-signup"