---
title: Contact Us
---
- content_for :title do
  = current_page.data.title
.section-header.section-header-contact
  .section-wrap
    .container-fluid
      .row
        .col-12.col-lg-10
          h1.header-headline
            | Contact Us
          p.content-large Need to get in touch with us? Please send us a message using the form below.
.section-block.section-block-contact
  .section-wrap
    .container-fluid
      .row
        .col-12.col-md-8
          form.site-form name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field"
            fieldset.form-fieldset.form-fieldset-hidden
              input name="bot-field"
            fieldset.form-fieldset
              label.form-label Name
              input.form-input-text type="text" name="Name"
            fieldset.form-fieldset
              label.form-label Email
              input.form-input-text type="email" name="Email"
            fieldset.form-fieldset
              label.form-label Your Message
              textarea.form-textarea name="Message"
            fieldset.form-fieldset.form-fieldset-nostyle
              div data-netlify-recaptcha="true"
            fieldset.form-fieldset-submit
              input.form-input-submit.btn.btn-primary type="submit" name="submit" value="Send"
        .col-12.col-md-3
          .row
            .col-sm-4.col-md-12
              .section-block-sidebar
                h5 Address
                p.content-small
                  | 2562 Scranton Rd<br />
                  | Cleveland, Ohio 44113
            .col-sm-4.col-md-12
              .row
                .col-sm-12
                  .section-block-sidebar
                    h5 Phone
                    p.content-small
                      a href="tel:1-855-593-3877" +1-855-593-3877
              .row
                .col-sm-12
                  .section-block-sidebar
                    h5 Email
                    p.content-small
                      a href="mailto: ride@myfdtps.com" ride@myfdtps.com
