---
slug: covid19
title: COVID-19 Update
---
- content_for :title do
  = current_page.data.title
.section-header.section-header-about
  .section-wrap
    .container-fluid
      .row
        .col-12.col-lg-10
          h1.header-headline
            = current_page.data.title

.section-block.section-block-about
  .section-wrap
    .container-fluid
      .row
        .col-12.col-lg-8
          p.content-large Amidst preparation for COVID-19, Foundation Transportation will be taking the following steps to best protect the health and safety of employees and passengers.
          ul.list-bullets
            li
              | Conduct a thorough cleaning of vehicle interior surfaces with bleach-based disinfectant wipes after each ride.
            li
              | Cease offering any refreshments (i.e., candy, mints, water, etc.) that are not individually packaged or sealed, unless specifically requested by the client.
            li
              | Clean and disinfect all office, dispatch and working areas daily.
            li
              | Encourage all staff to see a doctor immediately if they feel unwell and do not allow sick employees to report for work.
          p.content-large If you have any questions or concerns, please don't hesitate to give us a call at <a href="tel:1-855-593-3877">1-855-593-3877</a>.
= partial "partials/_cta-signup"