---
title: The Fleet
---
- content_for :title do
  = current_page.data.title
  
.section-header.fleet-section-header
  .section-wrap
    .container-fluid
      .row
        .col-12
          header.header-content
            h1.header-headline
              = current_page.data.title