---
slug: home
title: Cleveland Black Car Service
---

- content_for :title do
  = current_page.data.title

= partial "/partials/_hero-covid19"
.section-block.section-home-services-white.section-block
  .section-wrap
    .container-fluid
      .row
        .col-12
          header.header-content.text-center
            h2.header-headline.header-underline
              | Get In and Get Going
            = link_to "View All Services", "/services", :class => "cta cta-blue"
      .row
        .col-12.col-sm-12.col-md-6.col-xl-4.d-flex.align-items-stretch.align-items-end
          .card.card-content.card-service-business
            header.header-content
              .row
                .col-12.col-md-8.col-lg-12
                  h3.header-headline
                    | Business
                  p.header-description
                    | Count on us to get you to your flight &amp; meetings on-time.
                  = link_to "Learn More", "/services/business.html", :class => "cta cta-white"
        .col-12.col-sm-12.col-md-6.col-xl-4.d-flex.align-items-stretch.align-items-end
          .card.card-content.card-service-wedding
            header.header-content
              .row
                .col-12.col-md-8.col-lg-12
                  h3.header-headline
                    | Weddings
                  p.header-description
                    | We'll handle the driving while you'll handle the wedding.
                  = link_to "Learn More", "/services/weddings.html", :class => "cta cta-blue"
        .col-12.col-sm-12.col-md-12.col-xl-4.d-flex.align-items-stretch.align-items-end
          .card.card-content.card-content-dark.card-service-datenight
            header.header-content
              .row
                .col-12.col-md-8.col-lg-12
                  h3.header-headline
                    | Night Life
                  p.header-description
                    | Ready to Relax? Get out there and safely enjoy the night. 
                  = link_to "Learn More", "/services/nightlife.html", :class => "cta cta-white" 
.section-block.section-home-fleet
  .section-wrap.section-wrap-wide
    .container-fluid
      .row
        .col-12
          header.header-content.text-center
            h2.header-headline.header-underline
              | Our Finest Selection
            = link_to "View Our Fleet", "/fleet", :class => "cta cta-blue"
      .row
        .col-12.col-sm-6.col-md-6.col-xl-3.d-flex.align-items-stretch.align-items-end
          .card.card-content.card-fleet
            .header-image.card-fleet-image
              = image_tag "images/fleet/fleet-bmw-side.png", :alt => "BMW 750i", :class => "fleet-car-image"
            span.header-subheader.card-fleet-subheader
              | The
            h2.header-headline.card-fleet-header
              | BMW 750I
            p.header-description.card-fleet-desc
              | For professionals who need to ride in style for up to two.
            = link_to "View the BMW", "fleet/bmw750i", :class => "cta cta-blue card-fleet-cta"
        .col-12.col-sm-6.col-md-6.col-xl-3.d-flex.align-items-stretch.align-items-end
          .card.card-content.card-fleet
            .header-image.card-fleet-image
              = image_tag "images/fleet/fleet-cadillac-side.png", :alt => "Cadillac Escalade", :class => "fleet-car-image"
            span.header-subheader.card-fleet-subheader
              | The
            h2.header-headline.card-fleet-header
              | Escalade
            p.header-description.card-fleet-desc
              | For groups of four that need luxury on the go.
            = link_to "View the Escalade", "/fleet/cadillacescalade", :class => "cta cta-blue card-fleet-cta"
        .col-12.col-sm-6.col-md-6.col-xl-3.d-flex.align-items-stretch.align-items-end
          .card.card-content.card-fleet
            .header-image.card-fleet-image
              = image_tag "images/fleet/fleet-benz-side.png", :alt => "Benz S550", :class => "fleet-car-image"
            span.header-subheader.card-fleet-subheader
              | The
            h2.header-headline.card-fleet-header
              | Benz S550
            p.header-description.card-fleet-desc
              | Our secondary luxury sedan vehicle for two.
            = link_to "View the Benz", "fleet/mercedesbenzs550", :class => "cta cta-blue card-fleet-cta"
        .col-12.col-sm-6.col-md-6.col-xl-3.d-flex.align-items-stretch.align-items-end
          .card.card-content.card-fleet
            .header-image.card-fleet-image
              = image_tag "images/fleet/fleet-sprinter-side.png", :alt => "Cadillac Escalade", :class => "fleet-car-image"
            span.header-subheader.card-fleet-subheader
              | The
            h2.header-headline.card-fleet-header
              | Sprinter
            p.header-description.card-fleet-desc
              | A large luxury vehicle for groups up to twelve.
            = link_to "View the Sprinter", "fleet/sprinter", :class => "cta cta-blue card-fleet-cta"
.section-block.section-home-about
  .section-wrap
    .container-fluid
      .row.no-gutters.d-flex.align-items-stretch
        .col-12.col-lg-6
          .section-home-about-title.section-block-dark
            header.header-content
              .row
                .col-12
                  h2.header-headline
                    | Why the Foundation
                  = link_to "About the Foundation", "/about-us", :class => "cta cta-white"
        .col-12.col-lg-6.d-none.d-sm-block
          .section-home-about-image
      .row.no-gutters.d-flex.align-items-stretch
        .col-12.col-lg-4
          .card.card-about-benefit
            span.header-number 01
            h4.header-headline Dedicated Chauffeurs
            p.header-description Professional, on-time, drives safe and well trained.
        .col-12.col-lg-4
          .card.card-about-benefit
            span.header-number 02
            h4.header-headline We're Here For You
            p.header-description A luxury vehicle is ready for you anywhere in the United States.
        .col-12.col-lg-4
          .card.card-about-benefit
            span.header-number 03
            h4.header-headline We're On Demand
            p.header-description Book a ride from your phone when you need to get up and go.
.section-block.section-home-blog
  .section-wrap
    .container-fluid
      - blog.articles[0...1].each do |article|
        .row
          .col-12.col-md-6
            = image_tag "blog/#{article.data.hero}", :alt => "#{article.data.title}", :class => "home-blog-img"
          .col-12.col-md-6.d-flex.align-items-center
            header.header-headline-blog
              h2.header-headline
                = article.data.title
              p.content-large
                = article.data.desc
              = link_to "Read on", article.url, :class => "cta cta-blue cta-large tag-home-blog", :title => "#{article.data.title}" 
= partial "/partials/_cta-signup-safety"