---
title: Privacy Policy
---
- content_for :title do
  = current_page.data.title
.section-header.section-header-small.section-header-book
  .section-wrap
    .container-fluid
      .row
        .col-12.col-lg-10
          h1.header-headline
            = current_page.data.title
.section-block.section-block-smallprint
  .section-wrap
    .container-fluid
      .row
        .col-12.col-lg-8
          p Welcome to the Foundation Transportation, LLC (&ldquo;Foundation Transportation&rdquo; or &ldquo;we&rdquo; or &ldquo;us&rdquo;) website at http://www.MYFDTPS.com (the &ldquo;Website&rdquo;).
          p Please review the following terms and conditions concerning your use of and access to the Website. By accessing, using and/or downloading any materials or content from the Website, you agree to follow and be bound by these terms and conditions (these &ldquo;Terms&rdquo; or this &ldquo;Agreement&rdquo;). If you do not agree with these Terms, you may not use the Website.
          p
            strong GENERAL PROVISIONS
          p Services Content, Specifications, and Accuracy of Information: We attempt to ensure that information on this Website is complete, accurate and current. Despite our efforts, the information on this Website may be inaccurate, incomplete or out of date. We make no representation as to the completeness, accuracy or correctness of any information on this Website. All features, content, specifications, products, services, and prices of products and services described or depicted on this Website are subject to change at any time without notice. Certain descriptions are approximate and are provided for convenience purposes only. We make all reasonable efforts to accurately display the attributes of our products and services. The inclusion of any products or services in this Website at a particular time does not imply or warrant that those products or services will be available at any time. While it is our practice to confirm orders by email, the receipt of an email order confirmation does not constitute our acceptance of an order or our confirmation of an offer to sell a product or service. We reserve the right, without prior notice and in our sole and absolute discretion, to limit the order quantity on any product or service, to refuse service to any customer and/or to refuse access to the Website by any visitor or customer. We also may require verification of information prior to the acceptance and/or shipment of any order.
          p
            strong GENERAL USE PROVISIONS
          p All materials provided on the Website, including but not limited to information, documents, products, logos, graphics, sounds, images, compilations, content and services (&ldquo;Materials&rdquo; or &ldquo;Content&rdquo;), are provided either by Foundation Transportation or by respective third party authors, developers or vendors (&ldquo;Third Party Providers&rdquo;) and are the copyrighted works of Foundation Transportation and/or its Third Party Providers (or is permitted/licensed to be used by Third Party Providers), unless specifically provided otherwise. Except as stated herein, none of the Materials may be modified, copied, printed, reproduced, distributed, republished, performed, downloaded, displayed, posted, transmitted and/or otherwise used in any form or by any means, including but not limited to electronic, mechanical, photocopying, recording, or other means, without the prior express written permission of Foundation Transportation and/or a Third Party Provider. Also, you may not &ldquo;mirror&rdquo; or &ldquo;archive&rdquo; any Materials contained on the Website on any other server without Foundation Transportation prior express written permission.
          p Except where expressly provided otherwise by Foundation Transportation, nothing on the Website shall be construed to confer any license or ownership right in or to the Materials, under any of Foundation Transportation&rsquo;s intellectual property rights, whether by estoppel, implication, or otherwise. You acknowledge sole responsibility for obtaining any such licenses. See the &ldquo;Legal Contact Information&rdquo; section below if you have any questions about obtaining such licenses. Materials provided by Third Party Providers have not been independently reviewed, tested, certified, or authenticated in whole or in part by Foundation Transportation. Foundation Transportation does not provide, sell, license, or lease any of the Materials other than those specifically identified as being provided by Foundation Transportation.
          p Any unauthorized use of any Materials contained on the Website may violate copyright laws, trademark laws, the laws of privacy and publicity, and/or communications regulations and statutes. It is your obligation to comply with all applicable state, federal and international laws. You are responsible for maintaining the confidentiality of your account information and password and for restricting access to such information and to your computer. You agree to accept responsibility for all activities that occur under your account or password.
          p Termination: You or we may suspend or terminate your account or your use of this Website at any time, for any reason or for no reason. You are personally liable for any orders that you place or charges that you incur prior to termination. We reserve the right to change, suspend, or discontinue all or any aspect of this Website at any time without notice.
          p
            strong LINKS TO THIRD PARTY SITES
          p The Website may contain links or have references to websites controlled by parties other than Foundation Transportation. Foundation Transportation is not responsible for and does not endorse or accept any responsibility for the contents or use of these third-party websites. Foundation Transportation is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by Foundation Transportation of the linked website and/or the content and materials found at the linked website, except as specifically stated otherwise by Foundation Transportation. It is your responsibility to take precautions to ensure that whatever you select for your use is free of viruses or other items of an intrusive nature.
          p
            strong Cookies
          p Like many websites, we use &ldquo;cookies&rdquo; to collect information. A cookie is a small data file that we transfer to your computer&rsquo;s hard disk for record-keeping purposes. We use persistent cookies to save your registration ID and login password for future logins to the Sites. We also utilize session ID cookies to enable certain features of the Sites, to better understand how you interact with the Sites, and to monitor aggregate usage by visitors and web traffic routing on the Sites.
          p You can instruct your browser, by changing its options, to stop accepting cookies or to prompt you before accepting a cookie from websites you visit. However, if you do not accept cookies, you may not be able to use all portions of the Sites or all functionality of the Service.
          p
            strong SUBMISSIONS
          p Except where expressly provided otherwise by Foundation Transportation, all comments, feedback, information and data submitted to Foundation Transportation through, in association with or in regard to the Website and/or any other Foundation Transportation goods or services (&ldquo;Submissions&rdquo;) shall be considered non-confidential and Foundation Transportation&rsquo;s property. This may not include copyright ownership of images which you may upload, but does include an express license to use said images in any method Foundation Transportation sees fit and make compilations and derivative works thereof in all media now known or hereafter devised. By providing such Submissions to Foundation Transportation, you agree to assign to Foundation Transportation, as consideration in exchange for the use of the Website, all worldwide rights, title and interest in copyrights and other intellectual property rights to the Submissions except as expressly enumerated in the preceding sentence. You represent that you have the right to grant R &amp; S these rights. Foundation Transportation shall be free to use and/or disseminate such Submissions on an unrestricted basis for any purpose. You acknowledge that you are responsible for the Submissions that you provide and that you, not Foundation Transportation have full responsibility for the Submissions, including their legality, reliability, appropriateness, originality, and copyright.
          p
            strong CHILDREN
          p Foundation Transportation does not accept Submissions from persons under the age of 18 (&ldquo;Child&rdquo; or &ldquo;Children&rdquo;). Furthermore, Foundation Transportation does not accept any user who is a Child. You are ineligible to use this Website if you are under the age of 18. If you are under the age of 18, you must have your parent or legal guardian set up your account and has them agree to these terms. If you are under the age of 18, your parent or legal guardian&rsquo;s consent to these terms is ongoing and they hereby warrant that they will review these terms for changes and if any occur, that they will be amenable thereto until you reach age 18, at which point you hereby give your consent to these terms. Furthermore, to the extent any user under the age of 18 makes a Submission of copyrighted materials heretofore, their parent or legal guardian hereby grants Foundation Transportation all rights to utilize the copyright and image/likeness embodied therein as further enumerated in this Agreement.
          p All Submissions must be true and in accordance with the rights of privacy and publicity and all federal, state and international law. You may not upload an image or any likeness of another without their consent (or the consent of their parent or guardian if they are under the age of 18). If you do so, Foundation Transportation reserves the right to cancel or suspend your account. Furthermore, Foundation Transportation reserves the right to cancel or suspend your account, if in its sole discretion; it believes you are using Foundation Transportation for improper purposes, or any purpose inconsistent with its business.
          p
            strong LIMITATION OF LIABILITY
          p TO THE EXTENT ALLOWED BY LAW, IN NO EVENT SHALL THE AGGREGATE LIABILITY OF Foundation Transportation EXCEED $1,000.00. IN NO EVENT SHALL Foundation Transportation OR THE THIRD PARTY PROVIDERS BE LIABLE TO ANYONE FOR ANY INDIRECT, PUNITIVE, SPECIAL, EXEMPLARY, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, OR FOR ANY DAMAGES to your computer, telecommunication equipment, or other property and/or FOR LOSS OF DATA, CONTENT, IMAGES, REVENUE, PROFITS, USE OR OTHER ECONOMIC ADVANTAGE, ARISING OUT OF, OR IN ANY WAY CONNECTED WITH THIS AGREEMENT, INCLUDING BUT NOT LIMITED TO THE accessing or USE of, OR INABILITY TO USE, THE WEBSITE AND THE SERVICES ASSOCIATED THEREWITH including but not limited to the downloading of any materials, REGARDLESS OF CAUSE, WHETHER IN AN ACTION IN CONTRACT OR NEGLIGENCE OR OTHER TORTIOUS ACTION, EVEN IF THE PARTY FROM WHICH DAMAGES ARE BEING SOUGHT OR THE THIRD PARTY PROVIDER HAVE BEEN PREVIOUSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE LIMITATION OF LIABILITY SET FORTH IN THIS SECTION SHALL NOT APPLY IN THE EVENT OF CUSTOMER&rsquo;S BREACH, OR RELATED TO ITS INDEMNITY OBLIGATIONS. THIS PARAGRAPH SHALL NOT AFFECT THE RIGHTS LISTED BELOW IN THE SECTION TITLED &ldquo;INDEMNITIES&rdquo;.
          p LICENSES FROM Foundation Transportation ?You are being granted solely a revocable, limited license, in compliance with these terms.
          p
            strong LICENSES FROM CUSTOMER
          p You grant to Foundation Transportation and its Third Party Providers the non-exclusive, worldwide right to use, copy, transmit and display any data, information, Content or other Materials, provided to Foundation Transportation by you in the course of accessing and/or using the Website. Notwithstanding the foregoing, Foundation Transportation&rsquo;s obligations regarding identification and other information concerning your personal information shall be governed by the terms of the Privacy Policy available at http://www.PlatinumFleet.com/privacy-policy/. The Terms of the Privacy Policy are expressly incorporated herein as though set forth in full.
          p
            strong BILLING AND PAYMENT
          p To the extent you purchase any goods and/or services from Foundation Transportation, you agree to pay for all goods and services ordered from Foundation Transportation and/or its Third Party Providers except as set forth in a writing signed by an authorized representative of Foundation Transportation. You will provide Foundation Transportation with valid and updated credit card or approved purchase order information and with complete and accurate billing and contact information. If you provide credit card or other authorized payment method information to Foundation Transportation, you authorize Foundation Transportation, or a credit card processor of its choosing to bill such credit card or to make such charges as applicable. If Foundation Transportation, in its sole and absolute discretion, permits you to make payment using a method other than a credit card or other authorized payment method, Foundation Transportation will invoice you at, or within a reasonable period of, the time of the purchase request. All amounts invoiced hereunder shall be due within thirty (30) days of the date of the invoice.
          p
            strong REPRESENTATIONS AND WARRANTIES
          p Each party represents and warrants that it has the power and authority to enter into this Agreement. Foundation Transportation warrants that it will provide the Website and all goods and services in a manner consistent with its business practices, as Foundation Transportation, in its sole and absolute discretion, deems fit. To the extent that you represent an entity of any type or any individual besides yourself, you represent and warrant that you have the proper authority to enter into this Agreement their behalf.
          p
            strong DISCLAIMER OF WARRANTIES
          p EXCEPT WHERE EXPRESSLY PROVIDED OTHERWISE BY Foundation Transportation, THE MATERIALS ON THE WEBSITE ARE PROVIDED &ldquo;AS IS,&rdquo; AND ARE FOR USE AS CONTRACTED HEREIN. EXCEPT FOR THE EXPRESS WARRANTIES SET FORTH HEREIN, Foundation Transportation AND ITS THIRD PARTY PROVIDERS HEREBY DISCLAIM ALL EXPRESS OR IMPLIED REPRESENTATIONS, WARRANTIES, GUARANTIES, AND CONDITIONS WITH REGARD TO THE WEBSITE, THE MATERIALS, AND THE GOODS AND SERVICES ASSOCIATED THEREWITH INCLUDING BUT NOT LIMITED TO ANY IMPLIED REPRESENTATIONS, WARRANTIES, GUARANTIES, AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT, AND QUALITY OF GOODS AND SERVICES EXCEPT TO THE EXTENT THAT SUCH DISCLAIMERS ARE HELD TO BE LEGALLY INVALID. Foundation Transportation AND ITS THIRD PARTY PROVIDERS MAKE NO REPRESENTATIONS, GUARANTIES OR WARRANTIES REGARDING THE RELIABILITY, AVAILABILITY, TIMELINESS, QUALITY, SUITABILITY, TRUTH, ACCURACY OR COMPLETENESS OF THE website and the GOODS, SERVICES AND/OR MATERIALS ASSOCIATED WITH THE WEBSITE, OR THE RESULTS YOU MAY OBTAIN BY accessing or USING THE WEBSITE AND/OR THE GOODS, SERVICES AND/OR MATERIALS ASSOCIATED THEREWITH. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, Foundation Transportation AND ITS THIRD PARTY PROVIDERS DO NOT REPRESENT OR WARRANT THAT (A) THE OPERATION OR USE OF THE WEBSITE OR MATERIALS WILL BE TIMELY, SECURE, UNINTERRUPTED OR ERROR-FREE; (B) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL YOU PURCHASE OR OBTAIN THROUGH THE WEBSITE WILL MEET YOUR REQUIREMENTS; OR (C) THE GOODS, SERVICES, MATERIALS, OR THE SYSTEMS THAT MAKE THE SERVICES AND WEBSITE AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. YOU ACKNOWLEDGE THAT NEITHER Foundation Transportation NOR ITS THIRD PARTY PROVIDERS CONTROL THE TRANSFER OF DATA OVER COMMUNICATIONS FACILITIES, INCLUDING THE INTERNET, AND THAT THE WEBSITE AND SERVICES AND/OR MATERIALS ASSOCIATED THEREWITH MAY BE SUBJECT TO LIMITATIONS, DELAYS, AND OTHER PROBLEMS INHERENT IN THE USE OF SUCH COMMUNICATIONS FACILITIES. Foundation Transportation IS NOT RESPONSIBLE FOR ANY DELAYS, DELIVERY FAILURES, OR OTHER DAMAGE RESULTING FROM SUCH PROBLEMS. EXCEPT WHERE EXPRESSLY PROVIDED OTHERWISE BY Foundation Transportation, THE WEBSITE AND THE GOODS, SERVICES AND/OR MATERIALS ASSOCIATED THEREWITH ARE PROVIDED TO YOU ON AN &ldquo;AS IS&rdquo; BASIS. Foundation Transportation EXPRESSLY DISCLAIMS ANY WARRANTY RELATED TO THE QUALITY OF GOODS AND/OR SERVICES AND THE PERSONS OR BUSINESSES REFERENCED ON THE WEBSITE. YOU USE THIRD PARTY PROVIDERS AND AFFILIATED SERVICES AT YOUR PERIL AND ASSUME ALL RISKS RELATED TO USE OF SAID THIRD PARTY PROVIDERS AND SERVICES.
          p
            strong INDEMNITIES
          p You shall defend and indemnify Foundation Transportation and its Third Party Providers against any and all claims, costs, damages, losses, liabilities and expenses (including attorneys&rsquo; fees and costs) finally awarded against Foundation Transportation or its Third Party Providers by a court of competent jurisdiction arising out of or in connection with a claim by a third party related to you. Foundation Transportation shall have no indemnification obligation or other liability for any claim of infringement arising from (a) use of the Website and/or the goods, services or Materials associated with the Website other than in accordance with this Agreement; (b) the combination of the Website and/or the goods, services or Materials associated with the Website with any other products, services, or materials; or (c) any third party products, services, or materials.
          p
            strong CUSTOMER RESPONSIBILITIES
          p You will comply with all applicable local, state, national and foreign laws, treaties, regulations and conventions in connection with your use of the Website, including without limitation those related to data privacy, international communications, and the exportation of technical or personal data from locations other than the location from which Foundation Transportation controls and operates the Website and services associated therewith. Furthermore, you expressly agree not to violate any rights of publicity or privacy of any person, nor defame any person or entity.
          p This Agreement represents the parties&rsquo; entire understanding relating to the use of the Website and supersedes any prior or contemporaneous, conflicting or additional, communications. Foundation Transportation reserves the right to change these Terms or its policies relating to the Website at any time and from time to time, and such changes will be effective upon being posted herein. You should visit this page from time to time to review the then-current Terms because they are binding on you. Certain provisions of these Terms may be superseded by expressly designated legal notices or terms located on particular pages of the Website, which may be posted from time to time. Your continued use of the Website after any such changes and/or postings shall constitute your consent to such changes. If any provision of this Agreement is held by a court of competent jurisdiction to be invalid or unenforceable, then such provision(s) shall be construed to reflect the intentions of the invalid or unenforceable provision(s), with all other provisions remaining in full force and effect. No joint venture, partnership, employment, or agency relationship exists between Foundation Transportation and you as a result of these Terms or use of the Website. You may not assign this Agreement without the prior written approval of Foundation Transportation. Any purported assignment in violation of this section shall be void. Foundation Transportation reserves the right to use Third Party Providers in the provision of the Website and/or the goods, service and/or Materials associated therewith. The failure of either party to enforce any right or provision in this Agreement shall not constitute a waiver of such right or provision unless acknowledged and agreed to by such party in writing. In the event of any litigation of any controversy or dispute arising out of or in connection with this Agreement, its interpretation, its performance, or the like, the prevailing party shall be awarded reasonable attorneys&rsquo; fees and expenses, court costs, and reasonable costs for expert and other witnesses attributable to the prosecution or defense of that controversy or dispute. Foundation Transportation reserves any and all rights not expressly granted herein.
          p
            strong INTELLECTUAL PROPERTY NOTICES
          p Elements of the Website are protected by copyright, trademark, trade dress and other laws and may not be copied or imitated in whole or in part. No logo, graphic, sound or image from the Website may be copied or retransmitted unless expressly permitted by Foundation Transportation.
          p
            strong LEGAL CONTACT INFORMATION
          p If you have any questions about these Terms, or if you would like to request permission to use any Materials, please contact our Customer Service Department.
          p
            strong Tracking User Behavior
          p Foundation Transportation may keep track of the websites and pages our users visit within Foundation Transportation, in order to determine what Foundation Transportation services are the most popular. This data is used to deliver customized content and advertising within Foundation Transportation to customers whose behavior indicates that they are interested in a particular subject area.
          p
            strong Automatically Collected Information
          p Information about your computer hardware and software may be automatically collected by Foundation Transportation. This information can include your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain a quality of the service, and to provide general statistics regarding use of the Foundation Transportation website.
          p
            strong Use of Cookies
          p The Foundation Transportation website may use &ldquo;cookies&rdquo; to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.

          p One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize Foundation Transportation pages, or register with Foundation Transportation site or services, a cookie helps Foundation Transportation to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same Foundation Transportation website, the information you previously provided can be retrieved, so you can easily use the Foundation Transportation features that you customized.
          p You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the Foundation Transportation services or websites you visit.
          p
            strong Links
          p This website contains links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.
          p
            strong Security of your Personal Information
          p Foundation Transportation secures your personal information from unauthorized access, use, or disclosure. Foundation Transportation uses the following methods for this purpose:
          p 
            strong SSL Protocol
          p When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.
          p We strive to take appropriate security measures to protect against unauthorized access to or alteration of your personal information. Unfortunately, no data transmission over the Internet or any wireless network can be guaranteed to be 100% secure. As a result, while we strive to protect your personal information, you acknowledge that: (a) there are security and privacy limitations inherent to the Internet which are beyond our control; and (b) security, integrity, and privacy of any and all information and data exchanged between you and us through this Site cannot be guaranteed.
          p
            strong Children Under Thirteen
          p Foundation Transportation does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.
          p 
            strong Disconnecting your Foundation Transportation Account from Third Party Websites
          p You will be able to connect your Foundation Transportation account to third party accounts. BY CONNECTING YOUR FOUNDATION TRANSPORTATION ACCOUNT TO YOUR

          p THIRD PARTY ACCOUNT, YOU ACKNOWLEDGE AND AGREE THAT YOU ARE CONSENTING TO THE CONTINUOUS RELEASE OF INFORMATION ABOUT YOU TO OTHERS (IN ACCORDANCE WITH YOUR PRIVACY SETTINGS ON THOSE THIRD PARTY SITES). IF YOU DO NOT WANT INFORMATION ABOUT YOU, INCLUDING PERSONALLY IDENTIFYING INFORMATION, TO BE SHARED IN THIS MANNER, DO NOT USE THIS FEATURE. You may disconnect your account from a third party account at any time. Users may learn how to disconnect their accounts from third-party websites by visiting their &ldquo;My Account&rdquo; page. Users may also contact us via email or telephone.
          p
            strong Opt-Out &amp; Unsubscribe from Third Party Communications
          p We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from third-party partners of Foundation Transportation by contacting us here:
          p
            a href="https://www.myfdtps.com/contact/" https://www.myfdtps.com/contact<br />
            a href="http://www.aboutads.info/" www.aboutads.info<br />
            a href="http://www.networkadvertising.org/choices/" networkadvertising.org/choices<br />
          p Protecting your private information is our priority. This Statement of Privacy applies to www.MYFDTPS.com and Foundation Transportation and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to Foundation Transportation include www.MYFDTPS.com. The Foundation Transportation website is a Luxury Black Car Service site. By using the Foundation Transportation website, you consent to the data practices described in this statement.
          p
            strong Collection of your Personal Information
          p In order to better provide you with products and services offered on our Site, Foundation Transportation may collect personally identifiable information, such as your:
          ul
            li First Name
            li Last Name
            li Phone Number
          p If you purchase Foundation Transportation&rsquo;s products and services, we collect billing and credit card information. This information is used to complete the purchase transaction.
          p
            strong E-mail Communications
          p From time to time, Foundation Transportation may contact you via email for the purpose of providing announcements, promotional offers, alerts, confirmations, surveys, and/or other general communication. In order to improve our Services, we may receive a notification when you open an email from Foundation Transportation or click on a link therein.
          p If you would like to stop receiving marketing or promotional communications via email from Foundation Transportation, you may opt-out of such communications by Customers may unsubscribe from emails by &ldquo;replying STOP&rdquo; or &ldquo;clicking on the UNSUBSCRIBE button.&rdquo;.
          p
            strong External Data Storage Sites
          p We may store your data on servers provided by third party hosting vendors with whom we have contracted.
          p
            strong Changes to this Statement
          p Foundation Transportation reserves the right to change this Privacy Policy from time to time. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your account, by placing a prominent notice on our site, and/or by updating any privacy information on this page. Your continued use of the Site and/or Services available through this Site after such modifications will constitute your: (a) acknowledgment of the modified Privacy Policy; and (b) agreement to abide and be bound by that Policy.
          p
            strong Contact Information
          p Foundation Transportation welcomes your questions or comments regarding this Statement of Privacy. If you believe that Foundation Transportation has not adhered to this Statement, please contact Foundation Transportation at <a href="mailto:ride@myfdtps.com">ride@myfdtps.com</a>.
