---
title: Our Services
---
- content_for :title do
  = current_page.data.title
.section-header.services-section-header
  .section-wrap
    .container-fluid
      .row
        .col-12
          header.header-content
            h1.header-headline
              = current_page.data.title