---
title: Become a Member
---
- content_for :title do
  = current_page.data.title

.section-header.section-header-signup
  .section-wrap
    .container-fluid
      .row
        .col-12.col-lg-10
          h1.header-headline
            = current_page.data.title
          p.content-large Get a dedicated chauffeur for your busy lifestyle.
.section-block.section-block-signup
  .section-wrap
    .container-fluid
      .row
        .col-12.col-md-10.col-lg-8
          form.site-form name="signup" method="POST" data-netlify="true" netlify-honeypot="bot-field"
            fieldset.form-fieldset.form-fieldset-hidden
              input name="bot-field"
            fieldset.form-fieldset
              label.form-label Name
              input.form-input-text type="text" name="Name"
            fieldset.form-fieldset
              label.form-label Email
              input.form-input-text type="email" name="Email"
            fieldset.form-fieldset
              label.form-label Phone
              input.form-input-text type="tel" name="Phone"
            fieldset.form-fieldset
              label.form-label City
              input.form-input-text type="text" name="City"
            fieldset.form-fieldset
              label.form-label State
              select.form-select name="State"
                option value="AL"  Alabama
                option value="AK"  Alaska
                option value="AZ"  Arizona
                option value="AR"  Arkansas
                option value="CA"  California
                option value="CO"  Colorado
                option value="CT"  Connecticut
                option value="DE"  Delaware
                option value="DC"  District Of Columbia
                option value="FL"  Florida
                option value="GA"  Georgia
                option value="HI"  Hawaii
                option value="ID"  Idaho
                option value="IL"  Illinois
                option value="IN"  Indiana
                option value="IA"  Iowa
                option value="KS"  Kansas
                option value="KY"  Kentucky
                option value="LA"  Louisiana
                option value="ME"  Maine
                option value="MD"  Maryland
                option value="MA"  Massachusetts
                option value="MI"  Michigan
                option value="MN"  Minnesota
                option value="MS"  Mississippi
                option value="MO"  Missouri
                option value="MT"  Montana
                option value="NE"  Nebraska
                option value="NV"  Nevada
                option value="NH"  New Hampshire
                option value="NJ"  New Jersey
                option value="NM"  New Mexico
                option value="NY"  New York
                option value="NC"  North Carolina
                option value="ND"  North Dakota
                option value="OH"  Ohio
                option value="OK"  Oklahoma
                option value="OR"  Oregon
                option value="PA"  Pennsylvania
                option value="RI"  Rhode Island
                option value="SC"  South Carolina
                option value="SD"  South Dakota
                option value="TN"  Tennessee
                option value="TX"  Texas
                option value="UT"  Utah
                option value="VT"  Vermont
                option value="VA"  Virginia
                option value="WA"  Washington
                option value="WV"  West Virginia
                option value="WI"  Wisconsin
                option value="WY"  Wyoming
            fieldset.form-fieldset
              label.form-label How often will you need us?
              select.form-select name="Frequency"
                option value="everyday" Everyday
                option value="weekdays" Weekdays
                option value="fewtimesweek" Few Times a Week
            fieldset.form-fieldset
              label.form-label Tell us more about your needs
              textarea.form-textarea name="Description"
            fieldset.form-fieldset.form-fieldset-nostyle
              div data-netlify-recaptcha="true"
            fieldset.form-fieldset-submit
              input.form-input-submit.btn.btn-primary type="submit" name="submit" value="Sign Up"