---
title: Terms of Service
---
- content_for :title do
  = current_page.data.title

.section-header.section-header-small.section-header-book
  .section-wrap
    .container-fluid
      .row
        .col-12.col-lg-10
          h1.header-headline
            = current_page.data.title
.section-block.section-block-smallprint
  .section-wrap
    .container-fluid
      .row
        .col-12.col-lg-8
          p
            strong
              | RESERVATIONS
            br
            | Our reservationists are available by phone 7 days a week; Call us Toll Free (855) 593-3877 or if you are local or calling internationally call us at (216) 574-9075.
          p
            strong
              | CHANGES TO RESERVATIONS
            br
            | Changes are made by calling our office and speaking with a reservationist. Once you confirm the original reservation, you will be asked to provide the updated details for your reservation. If you are changing on short notice, we will do our best to accommodate your request. If we are unable to accommodate your request due to availability, you can keep the original reservation or cancel the reservation.
          p
            strong
              | CANCELLATION POLICY
            br
            | A credit card is required to make a reservation. Any airport reservation canceled within a three (3) hour period of the scheduled pick-up time will be subject to a full charge for the quoted price including Base Rate, Chauffeur Gratuity, and any accumulated expenses. Any reservation for our limousine or mini-bus that is canceled within a one week (7 days) of the scheduled pick-up time will be subject to a full charge of the hourly rate for the required minimum hours that was agreed upon at the time of booking less the deposit. By booking a limousine you agree to this cancellation policy. Exceptions are only made due to extreme weather conditions resulting in flight cancellations or the inability to traverse the roads.
          p
            strong
              | DEPOSITS
            br
            | The following services require a non-refundable deposit at time of booking: Proms, Night on the Town, Concerts, Weddings, or Special Events in our limousines or mini-coach. Six and Ten- Passenger Limousines require a half down deposit and also Executive mini-coach requires a deposit. Exceptions are only made due to extreme weather conditions that result in the inability to traverse the roads.
          p
            strong
              | AIRPORT ARRIVALS
            br
            | We constantly monitor the flight arrival information that you provide to us. Please call our office as soon as possible if there is a change in your flight information. We will meet you upon arrival, just look for our chauffeurs holding a “Foundation Transportation” sign with your last name. In addition, all our cars have “Foundation Transportation” vanity plates and our chauffeurs are in black uniforms to make us easy to find.
          p
            | Cleveland Hopkins International Airport: Our vehicles are restricted to waiting in a security zone until ten (10) minutes after your flight lands and only ten (10) minutes at the terminal to meet and load you into the vehicle. You should call our office when you are ready to meet your chauffeur and we will dispatch the car to the terminal to meet you.
          p
            | Terminal A: Meet your chauffeur outside the Terminal on the Ground (Baggage) Level in the limousine parking area which is straight across two (2) lanes of traffic.
            br
            | Terminal B: Meet your chauffeur outside the Terminal on the Ground (Baggage) Level in the limousine parking area which is across the crosswalk.
            br
            | Terminal C: Meet your chauffeur outside the Terminal on the 2nd Floor (up one level from Baggage Claim) by crossing three (3) lanes of traffic to the limousine Pick-up area.
            br
            | Terminal E: Meet your chauffeur outside the Terminal on the Ground (Baggage) Level in the limousine parking area, which is straight across two (2) lanes of traffic than to the left.
          p
            strong
              | WAITING TIME CHARGES
            br
            | Airport: There will be no charge for waiting time if you meet the chauffeur within the first 60 minutes after the touchdown of all domestic flights or within the first 90 minutes after touchdown of all international flights. Once the grace period has passed, waiting time will be charged by the vehicle’s hourly rate, rounding up in half-hour increments starting from the actual landing time.
            br
            | Non-Airport: There will be no charge for waiting time if you meet the chauffeur within the first 15 minutes. Once 16 minutes have past, waiting time will be charged by the vehicle’s hourly rate, rounding up in half-hour increments starting from the scheduled pickup time.
          p
            strong
              | NO SHOW POLICY
            br
            | Airport: If you fail to show up at the scheduled pickup time and/or location for the arriving fight information you provided to us and there has not been any contact with Foundation Transportation Limousine after 60 minutes for domestic flights or 90 minutes for international flights you will be considered a “No Show” and billed the full fee including the base rate, chauffeur gratuity, and any accumulated expenses. If you can’t locate your vehicle, DO NOT LEAVE! Call our office and we will locate your chauffeur and assist you in locating your reserved car.
            br
            | Non-airport: If you fail to show up at the scheduled pickup time and/or location, you will be billed a full charge for the quoted price including base rate, chauffeur gratuity, and any accumulated expenses. If you can’t locate your vehicle, DO NOT LEAVE! Call our office and we will locate your chauffeur and assist you in locating your reserved car.
          p
            strong
              | GUARANTEE
            br
            | Our service is backed by a satisfaction guarantee. Should you be dissatisfied, please call us. We will do our best to resolve any issues to your satisfaction.
          p
            strong
              | DAMAGES
            br
            | Customers will be held liable for any damage that they cause to our vehicle including a $500 carpet-cleaning fee in some extreme cases.
          p
            strong
              | LIABILITY
            br
            | Foundation Transportation is not responsible for passenger expenses in the event of a mechanical failure. Foundation Transportation Limousine is not responsible for items left in our vehicles. We ask you to please check the vehicle before you leave the vehicle. If something is found, it is entered into out Lost & Found box in our secure office until it is claimed.
          p
            strong
              | PRIVACY POLICY
            br
            | Foundation Transportation respects individual privacy and is committed to protecting and insuring that your personal information is handled in a safe and responsible manner. The following describes the type of information we collect when you visit our site and how we use that information.
          p
            strong
              | Cookies
            br
            | Like many websites, we use “cookies” to collect information. A cookie is a small data file that we transfer to your computer’s hard disk for record-keeping purposes. We use persistent cookies to save your registration ID and login password for future logins to the Sites. We also utilize session ID cookies to enable certain features of the Sites, to better understand how you interact with the Sites, and to monitor aggregate usage by visitors and web traffic routing on the Sites.
          p
            | You can instruct your browser, by changing its options, to stop accepting cookies or to prompt you before accepting a cookie from websites you visit. However, if you do not accept cookies, you may not be able to use all portions of the Sites or all functionality of the Service.
          p
            strong
              | Opt-Out & Unsubscribe from Third Party Communications
          p
            | We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from third-party partners of Foundation Transportation by contacting us here:
            br
            | – Webpage:  
            a[href="https://www.myfdtps.com/contact/"]
              | https://www.myfdtps.com/contact
            | ,  
            a[href="http://www.aboutads.info/" target="_blank" rel="noopener noreferrer"]
              | www.aboutads.info
            | , 
            a[href="http://www.networkadvertising.org/choices/" target="_blank" rel="noopener noreferrer"]
              | networkadvertising.org/choices
            | ,
          p
            strong
              | – Email: ride@myfdtps.com
          p
            strong
              | – Phone: 855-593-3877
          p
            strong
              | WHAT INFORMATION DO WE COLLECT?
            br
            | In order to use certain services we provide on our site, you will need to register with us or fill out a form. When you register or fill out a form, we will gather such information as you name, phone numbers, mailing, and email address. If you make a reservation, we will also ask you for your credit card information to process payment. This information will not be used for any other purpose than processing and/or referencing your reservation and will not be shared with anyone outside of Foundation Transportation.
          p
            strong
              | WHAT WE DO WITH INFORMATION WE COLLECT
            br
            | Personal data is collected to facilitate the online booking process as well as to ensure efficient processes each time a customer logs on. Information such as name, addresses, phone numbers, email address, and credit card data is stored so that you will not have to re-enter the data again. We do not sell, rent, or disclose any of your personally identifying information to third parties.
          p
            strong
              | SECURITY OF YOUR PERSONAL INFORMATION
            br
            | Foundation Transportation secures your personal information from unauthorized access, use, or disclosure. Your information is secured on computer servers in a controlled, secure environment, protected from any unauthorized access or use. When personal information (such as a credit card number) is transmitted, it is protected through the use of encryption, such as a Secure Socket Layer (SSL) protocol.
          p
            strong
              | CHANGES TO THIS POLICY
            br
            | Foundation Transportation Limousine Service is always improving and updating our website. As a result, our policies will continue to evolve. As we implement new technology and provide new services, we will update our Privacy Policy. We encourage you to refer to this page on an ongoing basis for our most current policy and practices.
          p
            strong
              | CONTACT INFORMATION
            br
            | Foundation Transportation welcomes your comments regarding this Statement of Privacy. If you feel that we are not abiding by this policy, contact us immediately via telephone at (855) 593-3877 or via email at <a href="mailto: ride@myfdtps.com">mailto: ride@myfdtps.com</a>.